@font-face {
	font-family: 'gfitfont';
	font-style: normal;
	font-weight: bolder;
	src: local('gfitfont'), url('../fonts/gfitfont.ttf'), url('../fonts/gfitfont.woff'), format('truetype');
}
@font-face {
	font-family: 'gfitfont-bold';
	font-style: normal;
	font-weight: bolder;
	src: local('gfitfontBold'), url('../fonts/gfitfontBold.ttf'), url('../fonts/gfitfontBold.woff') format('truetype');
}

#adminPage {
	margin: 0 auto;
	height: 100%;
	/* margin-top: 10%; */
	/* margin-bottom: 20%; */
	color: black;
	text-align: center;
	overflow-x: hidden;
}

#loginPage {
	width: 80%;
	margin: 0 auto;
	margin-top: 15vh;
	margin-bottom: 15vh;
	padding: 5%;
	border-radius: 4%;
	text-align: center;
	background-color: #fac04e;
	font-family: 'gfitfont-bold';
}

.formLoginHeading {
	color: white;
	font-family: 'gfitfont-bold';
}

.loginButton {
	background-color: white;
}

#signUpPage {
	width: 100%;
	margin: 0 auto;
	/* margin-bottom: 80%; */
	/* padding: 5%; */
	text-align: center;
	background-color: transparent;
	margin-bottom: calc(100vh - 510px);
}

.signupWrap {
	margin-top: 7%;
}

#adminPage hr {
	border-bottom: 2px solid #fac04e !important;
	width: 80%;
	margin-top: 5% !important;
	margin-bottom: 5% !important;
}

#adminPage h1,
h2 {
	color: #fac04e;
}

/* .makeStyles-root-1 {
    position: relative;
    top: 0;
    height: 100px;
    background-color: black !important;
} */

.MuiAppBar-root {
	margin-top: 14vh !important;
	background-color: black !important;
}

.MuiTabs-indicator {
	background-color: #fac04e !important;
}

.Mui-selected {
	color: #fac04e !important;
	text-decoration: none !important;
}

.MuiTab-root {
	color: white !important;
}

.PrivateTabIndicator-colorSecondary-4 {
	background-color: #fac04e !important;
}

.formRow {
	width: 50%;
	margin-top: 5%;
	margin: 0 auto;
}

.formContainer {
	width: 80% !important;
	margin: 0 auto;
}

/* SCHEDULE EDITOR */

.scheduleRow {
	width: 90% !important;
	margin: 0 auto !important;
	display: none;
}

.scheduleFormSelectors {
	margin-top: 7% !important;
}

.scheduleFormContainer {
	width: 80%;
	margin: 0 auto;
}

.scheduleFormRow {
	/* border-bottom: 4vw solid black; */
	padding-bottom: 8%;
	margin-bottom: 8%;
}

.scheduleTable {
	width: 100%;
	margin: 0 auto !important;
	padding-bottom: 10%;
	text-align: center;
	color: #fac04e;
	border-color: #fac04e;
	border-bottom: 2px solid #fac04e !important;
	align-content: center !important;
}

.scheduleTable .rt-td {
	white-space: pre-wrap !important;
	color: white;
}

.scheduleHeaders {
	font-size: 24px;
	color: #fac04e;
}

#logoutPage {
	background-color: black;
	color: white;
	text-align: center;
	/* margin-top: 10%; */
	height: 100vh;
	width: 100vw;
}

#logoutPage h1 {
	padding-top: 10%;
}

#logoutPage a {
	color: #fac04e;
}

.adminShowHideCurrentScheduleButton {
	width: 60%;
	margin-top: 3%;
	background-color: #dfe0df;
	border: none;
	color: black;
	padding: 2%;
	border-radius: 5%;
}

/* ----------- VIDEO UPLOADER ----------- */
.videoUploadInput {
	background-color: white;
	width: 100% !important;
}

.videoUploadForm {
	width: 80%;
	margin: 0 auto;
}

.videoUploadFormSelectors {
	margin-top: 7%;
}

/* .fileSelectionLabel {
    margin-top: 5%;
    margin-bottom: 5%;
} */

.custom-file-label {
	text-align: left;
}

.videoTitleLabel,
.videoDescLabel,
.equipmentNeededLabel,
.fitnessLevelLabel,
.workoutCategoryLabel {
	margin-top: 5%;
}

.adminSubmitButton {
	width: 60%;
	margin-top: 10%;
	background-color: #fac04e;
	border: none;
	color: black;
	padding: 2%;
	border-radius: 5%;
}

.videoUploadFormContainer {
	width: 100%;
}

.adminViewLibraryButton {
	width: 60%;
	margin-top: 5%;
	background-color: rgb(165, 164, 164) !important;
	border: 1px solid black;
	color: black;
	padding: 2%;
	border-radius: 5%;
}

.adminExitLibraryButton {
	width: 60%;
	margin-top: 5vw !important;
	margin: 0 auto;
	background-color: #fac04e !important;
	border: none;
	color: black;
	padding: 2%;
	border-radius: 1rem;
}

.adminDeleteButton {
	width: 40%;
	margin-top: 0vw !important;
	margin: 0 auto;
	margin-bottom: 5vw;
	background-color: red !important;
	border: none;
	color: white;
	padding: 2%;
	border-radius: 1rem;
}

#adminPage #videoLibraryPage {
	/* padding-top: 25vw; */
}

.sampleVideo {
	margin-top: 3%;
	font-size: 2vw;
	color: #fac04e !important;
}

.sampleVideo .form-check-input {
	height: 1.5vw;
	width: 1.5vw;
	position: relative;
	margin: 0 auto;
	margin-right: 1%;
	margin-top: 1%;
}

/* EDIT USERS PAGE */

.adminEditUsersFormHeading {
	width: 100%;
	margin: 0 auto;
}

.usersTable {
	width: 80%;
	margin: 0 auto;
	margin-top: 5%;
}

.adminEditUserSubscriptionButton {
	background-color: #fac04e;
	border: 1px solid black;
	margin-left: 1vw;
}

/* ----------- LAPTOPS ----------- */

/* ----------- Non-Retina Screens ----------- */
@media screen and (min-device-width: 850px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
	.adminScheduleFormHeading,
	.adminVideoUploadFormHeading,
	.adminSignUpFormHeading,
	.adminEditUsersFormHeading {
		margin-top: 3vw;
		font-size: 4rem;
	}
	.scheduleFormSelectors,
	.videoTitleLabel,
	.videoDescLabel,
	.equipmentNeededLabel,
	.fitnessLevelLabel,
	.workoutCategoryLabel,
	.adminSubmitButton,
	.adminViewLibraryButton,
	.adminSignUpFormLabel,
	.userHeaders {
		font-size: 2rem;
	}
	#dayOfWeek,
	#workout,
	#times,
	#fileUploadName,
	#equipmentNeeded,
	#fitnessLevel,
	#workoutCategory,
	.adminSignUpFormEntry,
	.adminEditUsersFullName,
	.adminEditUsersUsername,
	.adminEditUsersEmail,
	.adminEditUsersSubscriptionStatus {
		font-size: 1.2rem;
	}
}

@media screen and (min-device-width: 1600px) and (max-device-width: 2000px) and (-webkit-min-device-pixel-ratio: 1) {
	.adminScheduleFormHeading,
	.adminVideoUploadFormHeading,
	.adminSignUpFormHeading,
	.adminEditUsersFormHeading {
		margin-top: 3vw;
		font-size: 4rem;
	}
	.scheduleFormSelectors,
	.videoTitleLabel,
	.videoDescLabel,
	.equipmentNeededLabel,
	.fitnessLevelLabel,
	.workoutCategoryLabel,
	.adminSubmitButton,
	.adminViewLibraryButton,
	.adminSignUpFormLabel,
	.userHeaders {
		font-size: 2rem;
	}
	#dayOfWeek,
	#workout,
	#times,
	#fileUploadName,
	#equipmentNeeded,
	#fitnessLevel,
	#workoutCategory,
	.adminSignUpFormEntry,
	.adminEditUsersFullName,
	.adminEditUsersUsername,
	.adminEditUsersEmail,
	.adminEditUsersSubscriptionStatus {
		font-size: 1.2rem;
	}
}

@media screen and (min-device-width: 2001px) and (-webkit-min-device-pixel-ratio: 1) {
	.adminScheduleFormHeading,
	.adminVideoUploadFormHeading,
	.adminSignUpFormHeading,
	.adminEditUsersFormHeading {
		margin-top: 3vw;
		font-size: 4rem;
	}
	.scheduleFormSelectors,
	.videoTitleLabel,
	.videoDescLabel,
	.equipmentNeededLabel,
	.fitnessLevelLabel,
	.workoutCategoryLabel,
	.adminSubmitButton,
	.adminViewLibraryButton,
	.adminSignUpFormLabel,
	.userHeaders {
		font-size: 2rem;
	}
	#dayOfWeek,
	#workout,
	#times,
	#fileUploadName,
	#equipmentNeeded,
	#fitnessLevel,
	#workoutCategory,
	.adminSignUpFormEntry,
	.adminEditUsersFullName,
	.adminEditUsersUsername,
	.adminEditUsersEmail,
	.adminEditUsersSubscriptionStatus {
		font-size: 1.2rem;
	}
}

/* ----------- iPad Pro 10.5" ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 834px) and (max-device-width: 1112px) and (-webkit-min-device-pixel-ratio: 2) {
}

/* Portrait */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen and (min-device-width: 834px) and (max-device-width: 834px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
}

/* Landscape */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen and (min-device-width: 1112px) and (max-device-width: 1112px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
}

/* ----------- iPad Pro 12.9" ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) {
}

/* Portrait */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen and (min-device-width: 1024px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
}

/* Landscape */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen and (min-device-width: 1366px) and (max-device-width: 1366px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
}

/* ----------- iPhones ----------- */

/* ----------- iPhone 4 and 4S ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
	.sampleVideo {
		font-size: 1.5rem;
	}

	.sampleVideo .form-check-input {
		height: 1rem;
		width: 1rem;
		margin-right: .5rem;
		margin-top: 1rem;
	}
}

/* Portrait */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
}

/* Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
}

/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
	#videoLibraryPage {
		margin-top: 0vw;
	}
	.sampleVideo {
		font-size: 1.5rem;
	}

	.sampleVideo .form-check-input {
		height: 1rem;
		width: 1rem;
		margin-right: .5rem;
		margin-top: 1rem;
	}
	.userHeaders {
		white-space: pre-wrap !important;
	}
	.adminEditUsersFullName,
	.adminEditUsersUsername,
	.adminEditUsersEmail,
	.adminEditUsersSubscriptionStatus {
		font-size: .8rem;
		white-space: pre-wrap;
	}
	.adminEditUsersEmail:hover {
		font-size: .6rem;
	}
}

/* Portrait */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
	/* .makeStyles-root-1 {
        margin-top: 12vh !important; 
    } */
	.MuiBox-root {
		padding-left: 1% !important;
		padding-right: 1% !important;
	}
	#signUpPage {
		width: 100%;
		margin: 0 auto;
		/* margin-bottom: 80%; */
		/* padding: 5%; */
		text-align: center;
		background-color: transparent;
		margin-bottom: calc(100vh - 510px);
	}

	.signupWrap {
		margin-top: 7%;
	}

	#adminPage {
		/* margin-top: 20%; */
		margin-bottom: 40%;
	}
	.scheduleFormContainer {
		width: 80%;
		margin: 0 auto;
	}

	.scheduleTable {
		width: 90% !important;
		margin: 0 auto !important;
		/* margin-left: 0 !important; */
		/* margin-right: 0; */
		border-bottom: 2px solid #fac04e !important;
		padding-bottom: 50px;
	}

	.scheduleTable .rt-table {
		min-width: 100% !important;
	}

	.scheduleTable .rt-thead {
		min-width: 100% !important;
	}

	.scheduleTable .rt-tbody {
		min-width: 100% !important;
	}

	.scheduleTable .rt-td {
		white-space: pre-wrap !important;
		color: white;
		font-size: 3vw;
		width: 50%;
	}

	.scheduleHeaders {
		font-size: 5vw;
		color: #fac04e;
	}
	.scheduleFormSelectors {
		margin-top: 7%;
	}
}

/* Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
	.sampleVideo {
		font-size: 1.5rem;
	}

	.sampleVideo .form-check-input {
		height: 1rem;
		width: 1rem;
		margin-right: .5rem;
		margin-top: 1rem;
	}
}

/* Portrait */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
}

/* Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
}

/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
	.sampleVideo {
		font-size: 1.5rem;
	}

	.sampleVideo .form-check-input {
		height: 1rem;
		width: 1rem;
		margin-right: .5rem;
		margin-top: 1rem;
	}
}

/* Portrait */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
	#adminPage {
		/* margin-top: 25%; */
		height: 500px;
	}
}

/* Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) {
}

/* Portrait */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
}

/* Landscape */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
}

/* ----------- iPads ----------- */

/* ----------- iPad 1, 2, Mini and Air ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
}

/* Portrait */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
}

/* Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
}

/* ----------- iPad 3, 4 and Pro 9.7" ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {
}

/* Portrait */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
	.MuiBox-root {
		padding-left: 1% !important;
		padding-right: 1% !important;
	}
	#signUpPage {
		width: 80%;
		margin: 0 auto;
		/* margin-bottom: 80%; */
		/* padding: 5%; */
		text-align: center;
		background-color: transparent;
		margin-bottom: calc(100vh - 510px);
	}

	.signupWrap {
		margin-top: 7%;
	}

	#adminPage {
		/* margin-top: 20%; */
		position: relative;
		top: 0;
		margin-bottom: 40%;
	}
	.scheduleFormContainer {
		width: 80%;
		margin: 0 auto;
	}

	.scheduleTable {
		width: 100% !important;
		margin: 0 auto !important;
		margin-left: 0 !important;
		margin-right: 0;
		border-bottom: 2px solid #fac04e !important;
		padding-bottom: 50px;
	}

	.scheduleTable .rt-table {
		min-width: 100% !important;
	}

	.scheduleTable .rt-thead {
		min-width: 100% !important;
	}

	.scheduleTable .rt-tbody {
		min-width: 100% !important;
	}

	.scheduleTable .rt-td {
		white-space: pre-wrap !important;
		color: white;
		font-size: 3vw;
		width: 50%;
	}

	.scheduleHeaders {
		font-size: 5vw;
		color: #fac04e;
	}
	.scheduleFormSelectors {
		margin-top: 7% !important;
	}
}

/* Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
}
