@font-face {
    font-family: gfitfont;
    src: url("./css/gfitfont.woff") format("woff"), url("./css/gfitfont.ttf")  format("truetype");
}

.App {
    font-family: 'gfitfont';
    font-style: normal;
    font-weight: 300;
}
