.footerLanding {
    position: absolute;
    bottom: -50px !important;
    width: 100%;
    /* padding-bottom: 25%; */
    background-color: black;
    background-size: cover; 
}

.footerRow {
    font-family: 'Arial';
    /* width: 99%; */
    margin: 0 auto;
    /* height: 15vh; */
}

.footerBrand {
  max-width: 35vw;
}

.footerLogo {
  width: 80px;
  height: auto; 
  position: absolute;
  bottom: 1vw;
}

.footerTitle {
    font-size: 1.5vw;
    font-weight: bolder;
    color: white;
    position: absolute;
    bottom: 1.7vw;
    left: 3.5vw;
}

.footerInfo p {
    font-size: .9vw;
    color: white;
    line-height: 1;
    
}

.footerAddress {
    /* padding: 0;
    width: 100%;
    margin: 0 auto;
    position: absolute;
    bottom: 2.5vw;
    left: 0vw;
    font-size: 2vw; */
    padding: 0;
    width: 100%;
    /* margin: 0 auto; */
    text-align: center;
    position: absolute;
    bottom: 1.5vw;
  }

.footerDisclaimer {
    padding: 0;
    width: 100%;
    /* margin: 0 auto; */
    /* text-align: center; */
    position: absolute;
    bottom: 1.5vw;
    /* left: 0vw; */
}

.footerSocial {
    /* margin-top: 2%; */
    position: absolute;
    bottom: 1vw;
    font-size: 2.7vw;
    max-height: 100%;
}

.footerIcon {
    float: right;
    color: white !important;
    padding: 1%;
}





/* ----------- LAPTOPS ----------- */


/* ----------- Non-Retina Screens ----------- */
@media screen  
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
    .footerLanding {
      position: relative;
      bottom: 0px !important;
      width: 100%;
    }
    .footerRow {
      height: 8vw;
      width: 99%;
      margin: 0 auto;
    }
    .footerLogo {
      width: 3.5vw;
      height: auto; 
      position: absolute;
      bottom: 1.5vw;
    }
    .footerBrand {
      max-width: 30vw;
    }
    .footerDisclaimer {
      position: absolute;
      left: 0;
    }
    .footerTitle {
      position: absolute;
      bottom: 1.5vw;
      left: 5vw;
      font-size: 1.7vw;
    }
    .footerInfo p {
      font-size: 1.5vw;
      color: white;
      line-height: .5vw;
    }
    .footerAddress {
      bottom: 3.5vw; 
    }
}

@media screen 
  and (min-device-width: 1600px) 
  and (max-device-width: 2000px) 
  and (-webkit-min-device-pixel-ratio: 1) { 

    .footerRow {
      height: 8vw;
      width: 99%;
      margin: 0 auto;
    }
    .footerLogo {
      width: 3.5vw;
      height: auto; 
      position: absolute;
      bottom: 1.5vw;
    }
    .footerBrand {
      max-width: 30vw;
    }
    .footerDisclaimer {
      position: absolute;
      left: 0;
    }
    .footerTitle {
      position: absolute;
      bottom: 2vw;
      left: 5vw;
      font-size: 1.7vw;
    }
    .footerInfo p {
      font-size: 1.2vw;
      color: white;
      line-height: .5vw;
    }
    .footerAddress {
      bottom: 3.5vw; 
    }
}

@media screen 
  and (min-device-width: 2001px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
    .footerRow {
      height: 8vw;
      width: 99%;
      margin: 0 auto;
    }
    .footerLogo {
      width: 3.5vw;
      height: auto; 
      position: absolute;
      bottom: 1.5vw;
    }
    .footerBrand {
      max-width: 30vw;
    }
    .footerDisclaimer {
      position: absolute;
      left: 0;
    }
    .footerTitle {
      position: absolute;
      bottom: 2vw;
      left: 5vw;
      font-size: 1.7vw;
    }
    .footerInfo p {
      font-size: 1.2vw;
      color: white;
      line-height: .5vw;
    }
    .footerAddress {
      bottom: 3.5vw; 
    }
}

/* ----------- Retina Screens ----------- */
@media screen 
  and (min-device-width: 900px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) { 
    .footerRow {
      height: 8vw;
      width: 99%;
      margin: 0 auto;
    }
    .footerLogo {
      width: 3.5vw;
      height: auto; 
      position: absolute;
      bottom: 1.5vw;
    }
    .footerBrand {
      max-width: 30vw;
    }
    .footerDisclaimer {
      position: absolute;
      left: 0;
    }
    .footerTitle {
      position: absolute;
      bottom: 1.5vw;
      left: 5vw;
      font-size: 1.7vw;
    }
    .footerInfo p {
      font-size: 1.5vw;
      color: white;
      line-height: .5vw;
    }
    .footerAddress {
      bottom: 3.5vw; 
    }
}

@media screen 
  and (min-device-width: 1600px) 
  and (max-device-width: 2000px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) { 
    .footerRow {
      height: 8vw;
      width: 99%;
      margin: 0 auto;
    }
    .footerLogo {
      width: 3.5vw;
      height: auto; 
      position: absolute;
      bottom: 1.5vw;
    }
    .footerBrand {
      max-width: 30vw;
    }
    .footerDisclaimer {
      position: absolute;
      left: 0;
    }
    .footerTitle {
      position: absolute;
      bottom: 2vw;
      left: 5vw;
      font-size: 1.7vw;
    }
    .footerInfo p {
      font-size: 1.2vw;
      color: white;
      line-height: .5vw;
    }
    .footerAddress {
      bottom: 3.5vw; 
    }
}

@media screen 
  and (min-device-width: 2001px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) { 
    .footerRow {
      height: 8vw;
      width: 99%;
      margin: 0 auto;
    }
    .footerLogo {
      width: 3.5vw;
      height: auto; 
      position: absolute;
      bottom: 1.5vw;
    }
    .footerBrand {
      max-width: 30vw;
    }
    .footerDisclaimer {
      position: absolute;
      left: 0;
    }
    .footerTitle {
      position: absolute;
      bottom: 2vw;
      left: 5vw;
      font-size: 1.7vw;
    }
    .footerInfo p {
      font-size: 1.2vw;
      color: white;
      line-height: .5vw;
    }
    .footerAddress {
      bottom: 3.5vw; 
    }
}



/* ----------- iPads ----------- */

/* ----------- iPad 1, 2, Mini and Air ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {

}

/* Portrait */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1) {
    
}

/* Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1) {
    .footerDiv {
      height: 2vw;
      width: 100vw;
    }
    .footerLanding {
      min-height: 100%;
      width: 100%;
      /* padding-bottom: 5vw; */
      position: absolute !important;
      left: 0 !important;
      top: 0;
    }
    
    .footerRow {
      width: 100%;
      height: 100%;
      margin: 0 auto !important;
      position: absolute;
      bottom: 0;
    }

    .footerLogoDiv {
      width: 5vw;
      margin-top: 5%;
      margin-left: 0;
    }
    .footerBrand {
      padding-right: 0px !important;
    }
    .footerLogo {
      width: 4vw;
      height: auto; 
      position: absolute;
      bottom: 1vw;
    }
    
    .footerTitle {
      font-size: 1.8vw;
      font-weight: bolder;
      color: white;
      position: absolute;
      top: 3vw;
      left: 5.5vw;
      white-space: pre-wrap;
    }

    .footerRow {
      font-family: 'Arial';
      margin: 0 auto;
    }
    
    .footerBrand {
      max-width: 25vw;
    }

    .footerInfo {
      /* margin-left: 15px; */
      max-width: 55vw !important;
    }

    .footerInfo col {
      margin: 0 auto !important;
    }
    
    .footerInfo p {
      font-size: 1.5vw;
      color: white;
      line-height: 1vw;
      margin: 0 auto;
    }
    
    .footerAddress {
      text-align: center;
      position: absolute;
      top: 2vw;
    }
    
    /* .footerAddress p {
        margin-top: 8%;
        margin-bottom: 1%;
    } */
    
    .footerDisclaimer {
      position: absolute;
      top: 4vw;
    }
    
    .footerSocial {
      /* margin-top: 2%; */
      position: absolute;
      top: 1vw;
      right: 0vw;
      font-size: 4vw;
      max-width: 25vw;
    }
    
    .footerIcon {
      float: right;
      color: white !important;
      padding: .5vw;
    }

}

/* ----------- iPad 3, 4 and Pro 9.7" ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 2) {
    .footerLanding {
      height: 12vh;
      padding-bottom: 0px;
    }
    
    .footerRow {
        width: 99%;
        max-height: 100%;
        margin: 0 auto;
    }

    .footerLogoDiv {
        width: 35px;
        margin-top: 5%;
        margin-left: 0;
    }
    .footerBrand {
      padding-right: 0px !important;
    }
    .footerLogo {
      width: 8vw;
      height: auto; 
      position: absolute;
      bottom: 3.5vw;
      left: 1vw;
    }
    
    .footerTitle {
      font-size: 2.5vw;
      font-weight: bolder;
      color: white;
      position: absolute;
      bottom: 4vw;
      left: 8.5vw;
      white-space: pre-wrap;
    }

    .footerRow {
      font-family: 'Arial';
      width: 99%;
      margin: 0 auto;
      height: 15vh;
    }
    
    .footerBrand {
      max-width: 25vw;
    }

    .footerInfo {
      margin-left: 15px;
    }
    
    .footerInfo p {
        font-size: 2vw;
        color: white;
        line-height: 2.5vw;
        
    }
    
    .footerAddress {
        padding: 0;
        width: 60%;
        margin: 0 auto;
        position: absolute;
        bottom: 6vw;
        left: 0vw;
        text-align: center;
    }
    
    /* .footerAddress p {
        margin-top: 8%;
        margin-bottom: 1%;
    } */
    
    .footerDisclaimer {
        padding: 0;
        width: 60%;
        margin: 0 auto;
        text-align: center;
        position: absolute;
        bottom: 1vw;
        left: 0vw;
        white-space: pre-wrap;
    }
    
    .footerSocial {
        margin-top: 2%;
        position: absolute;
        bottom: 4vw;
        font-size: 6vw;
        
    }
    
    .footerIcon {
        float: right;
        color: white !important;
        padding: 1%;
    }
    
}

/* Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (min-device-height: 813px)
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 2) {
    .footerDiv {
      height: 5vw;
      width: 100vw;
    }
    .footerLanding {
      min-height: 100%;
      width: 100%;
      /* padding-bottom: 5vw; */
      position: relative;
      left: 0;
      top: 0;
    }
    
    .footerRow {
        width: 100%;
        height: 100%;
        margin: 0 auto !important;
        position: absolute;
        bottom: 0;
    }

    .footerLogoDiv {
        width: 5vw;
        margin-top: 5%;
        margin-left: 0;
    }
    .footerBrand {
      padding-right: 0px !important;
    }
    .footerLogo {
      width: 5vw;
      height: auto; 
      position: absolute;
      bottom: 1vw;
    }
    
    .footerTitle {
      font-size: 2vw;
      font-weight: bolder;
      color: white;
      position: absolute;
      bottom: .5vw;
      left: 7.1vw;
      white-space: pre-wrap;
    }

    .footerRow {
      font-family: 'Arial';
      /* width: 99%; */
      margin: 0 auto;
      /* height: 15vh; */
    }
    
    .footerBrand {
      max-width: 25vw;
    }

    .footerInfo {
      /* margin-left: 15px; */
      max-width: 55vw !important;
    }

    .footerInfo col {
      margin: 0 auto !important;
    }
    
    .footerInfo p {
      font-size: 1.5vw;
      color: white;
      line-height: 1vw;
      margin: 0 auto;
    }
    
    .footerAddress {
      text-align: center;
      position: absolute;
      top: 3vw;
    }
    
    /* .footerAddress p {
        margin-top: 8%;
        margin-bottom: 1%;
    } */
    
    .footerDisclaimer {
      position: absolute;
      top: 5vw;
    }
    
    .footerSocial {
        /* margin-top: 2%; */
        position: absolute;
        top: 2vw;
        right: 0vw;
        font-size: 4vw;
        max-width: 25vw;

    }
    
    .footerIcon {
        float: right;
        color: white !important;
        padding: .5vw;
    }
}

/* ----------- iPad Pro 10.5" ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 834px) 
  and (max-device-width: 1112px)
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen 
  and (min-device-width: 834px) 
  and (max-device-width: 834px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Landscape */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen 
  and (min-device-width: 1112px) 
  and (max-device-width: 1112px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* ----------- iPad Pro 12.9" ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1366px)
  and (-webkit-min-device-pixel-ratio: 2) {
    
}

/* Portrait */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 2) {
    .footerLanding {
      height: 12vh;
      padding-bottom: 0px;
      /* position: fixed !important; */
      /* left: 0 !important;
      bottom: 0 !important; */
    }
    
    .footerRow {
        width: 99%;
        max-height: 100%;
        margin: 0 auto;
    }

    .footerLogoDiv {
        width: 35px;
        margin-top: 5%;
        margin-left: 0;
    }
    .footerBrand {
      padding-right: 0px !important;
    }
    .footerLogo {
      width: 70px;
      height: auto; 
      position: absolute;
      bottom: 3vw;
    }
    
    .footerTitle {
      font-size: 2.5vw;
      font-weight: bolder;
      color: white;
      position: absolute;
      bottom: 3vw;
      left: 7vw;
      white-space: pre-wrap;
    }

    .footerRow {
      font-family: 'Arial';
      width: 99%;
      margin: 0 auto;
      height: 15vh;
    }
    
    .footerBrand {
      max-width: 25vw;
    }

    .footerInfo {
      margin-left: 15px;
    }
    
    .footerInfo p {
        font-size: 2vw;
        color: white;
        line-height: 2.5vw;
        
    }
    
    .footerAddress {
        padding: 0;
        width: 60%;
        margin: 0 auto;
        position: absolute;
        bottom: 6vw;
        left: 0vw;
        text-align: center;
    }
    
    /* .footerAddress p {
        margin-top: 8%;
        margin-bottom: 1%;
    } */
    
    .footerDisclaimer {
        padding: 0;
        width: 60%;
        margin: 0 auto;
        text-align: center;
        position: absolute;
        bottom: 1vw;
        left: 0vw;
        white-space: pre-wrap;
    }
    
    .footerSocial {
        margin-top: 2%;
        position: absolute;
        bottom: 4vw;
        font-size: 6vw;
        
    }
    
    .footerIcon {
        float: right;
        color: white !important;
        padding: 1%;
    }
}

/* Landscape */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen 
  and (min-device-width: 1366px) 
  and (max-device-width: 1366px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 2) {
    .footerDiv {
      height: 5vw;
      width: 100vw;
    }
    .footerLanding {
      min-height: 100%;
      width: 100%;
      /* padding-bottom: 5vw; */
      position: absolute !important;
      left: 0 !important;
      top: 0;
    }
    
    .footerRow {
        width: 100%;
        height: 100%;
        margin: 0 auto !important;
        position: absolute;
        bottom: 0;
    }

    .footerLogoDiv {
        width: 5vw;
        margin-top: 5%;
        margin-left: 0;
    }
    .footerBrand {
      padding-right: 0px !important;
    }
    .footerLogo {
      width: 5vw;
      height: auto; 
      position: absolute;
      bottom: 1vw;
    }
    
    .footerTitle {
      font-size: 2vw;
      font-weight: bolder;
      color: white;
      position: absolute;
      bottom: .5vw;
      left: 7.1vw;
      white-space: pre-wrap;
    }

    .footerRow {
      font-family: 'Arial';
      /* width: 99%; */
      margin: 0 auto;
      /* height: 15vh; */
    }
    
    .footerBrand {
      max-width: 25vw;
    }

    .footerInfo {
      /* margin-left: 15px; */
      max-width: 55vw !important;
    }

    .footerInfo col {
      margin: 0 auto !important;
    }
    
    .footerInfo p {
      font-size: 1.5vw;
      color: white;
      line-height: 1vw;
      margin: 0 auto;
    }
    
    .footerAddress {
      text-align: center;
      position: absolute;
      top: 3vw;
    }
    
    /* .footerAddress p {
        margin-top: 8%;
        margin-bottom: 1%;
    } */
    
    .footerDisclaimer {
      position: absolute;
      top: 5vw;
    }
    
    .footerSocial {
        /* margin-top: 2%; */
        position: absolute;
        top: 2vw;
        right: 0vw;
        font-size: 4vw;
        max-width: 25vw;

    }
    
    .footerIcon {
        float: right;
        color: white !important;
        padding: .5vw;
    }
}





/* ----------- iPhones ----------- */

/* ----------- iPhone 4 and 4S ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

}

/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    .footerDiv {
      height: 15vw;
      width: 100vw;
    }
    .footerLanding {
      height: 100%;
      width: 100%;
      /* padding-bottom: 5vw; */
      position: absolute !important;
      left: 0 !important;
      top: 0;
    }
    
    .footerRow {
      width: 100%;
      height: 100%;
      margin: 0 auto !important;
      position: absolute;
      bottom: 0;
    }

    .footerLogoDiv {
      width: 5vw;
      margin-top: 5%;
      margin-left: 0;
    }
    .footerBrand {
      padding-right: 0px !important;
    }
    .footerLogo {
      width: 8vw;
      height: auto; 
      position: absolute;
      bottom: 3vw;
      left: 2vw;
    }
    
    .footerTitle {
      font-size: 2.5vw;
      font-weight: bolder;
      color: white;
      position: absolute;
      bottom: 2vw;
      left: 9.5vw;
      white-space: pre-wrap;
    }

    .footerRow {
      font-family: 'Arial';
      margin: 0 auto;
    }
    
    .footerBrand {
      max-width: 20vw;
    }

    .footerInfo {
      margin-left: 7vw;
      max-width: 45vw !important;
    }

    .footerInfo col {
      margin: 0 auto !important;
    }
    
    .footerInfo p {
      font-size: 2vw;
      color: white;
      line-height: 2vw;
      margin: 0 auto;
      text-align: center;
    }
    
    .footerAddress {
      text-align: center;
      position: absolute;
      top: 3vw;
    }
    
    .footerDisclaimer {
      position: absolute;
      top: 8vw;
    }
    
    .footerSocial {
        /* margin-top: 2%; */
        position: absolute;
        top: 3.5vw;
        right: 0vw;
        font-size: 5.5vw;
        /* max-width: 25vw; */

    }
    
    .footerIcon {
        float: right;
        color: white !important;
        padding: .5vw;
    }
}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
    .footerDiv {
      height: 10vw;
      width: 100vw;
    }
    .footerLanding {
      height: 100%;
      width: 100%;
      /* padding-bottom: 5vw; */
      position: absolute !important;
      left: 0 !important;
      top: 0;
    }
    
    .footerRow {
        width: 100%;
        height: 100%;
        margin: 0 auto !important;
        position: absolute;
        bottom: 0;
    }

    .footerLogoDiv {
        width: 5vw;
        margin-top: 5%;
        margin-left: 0;
    }
    .footerBrand {
      padding-right: 0px !important;
    }
    .footerLogo {
      width: 5vw;
      height: auto; 
      position: absolute;
      bottom: 2vw;
    }
    
    .footerTitle {
      font-size: 2.5vw;
      font-weight: bolder;
      color: white;
      position: absolute;
      bottom: .5vw;
      left: 7.8vw;
      white-space: pre-wrap;
    }

    .footerRow {
      font-family: 'Arial';
      /* width: 99%; */
      margin: 0 auto;
      /* height: 15vh; */
    }
    
    .footerBrand {
      max-width: 25vw;
    }

    .footerInfo {
      /* margin-left: 15px; */
      max-width: 55vw !important;
    }

    .footerInfo col {
      margin: 0 auto !important;
    }
    
    .footerInfo p {
      font-size: 1.5vw;
      color: white;
      line-height: 1vw;
      margin: 0 auto;
    }
    
    .footerAddress {
      text-align: center;
      position: absolute;
      top: 4vw;
    }
    
    /* .footerAddress p {
        margin-top: 8%;
        margin-bottom: 1%;
    } */
    
    .footerDisclaimer {
      position: absolute;
      top: 6vw;
    }
    
    .footerSocial {
        /* margin-top: 2%; */
        position: absolute;
        top: 2.5vw;
        right: 0vw;
        font-size: 4vw;
        max-width: 25vw;

    }
    
    .footerIcon {
        float: right;
        color: white !important;
        padding: .5vw;
    }
}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 

}

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 
    .footerDiv {
      height: 15vw;
      width: 100vw;
    }
    .footerLanding {
      height: 100%;
      width: 100%;
      /* padding-bottom: 5vw; */
      position: absolute !important;
      left: 0 !important;
      top: 0;
    }
    
    .footerRow {
        width: 100%;
        height: 100%;
        margin: 0 auto !important;
        position: absolute;
        bottom: 0;
    }

    .footerLogoDiv {
        width: 5vw;
        margin-top: 5%;
        margin-left: 0;
    }
    .footerBrand {
      padding-right: 0px !important;
    }
    .footerLogo {
      width: 8vw;
      height: auto; 
      position: absolute;
      bottom: 3vw;
    }
    
    .footerTitle {
      font-size: 2.5vw;
      font-weight: bolder;
      color: white;
      position: absolute;
      bottom: 2vw;
      left: 11.8vw;
      white-space: pre-wrap;
    }

    .footerRow {
      font-family: 'Arial';
      /* width: 99%; */
      margin: 0 auto;
      /* height: 15vh; */
    }
    
    .footerBrand {
      max-width: 25vw;
    }

    .footerInfo {
      /* margin-left: 15px; */
      max-width: 75vw !important;
    }

    .footerInfo col {
      margin: 0 auto !important;
    }
    
    .footerInfo p {
      font-size: 2vw;
      color: white;
      line-height: 2.5vw;
      margin: 0 auto;
    }
    
    .footerAddress {
      text-align: center;
      position: absolute;
      top: 3vw;
    }
    
    .footerDisclaimer {
      position: absolute;
      top: 8vw;
    }
    
    .footerSocial {
        /* margin-top: 2%; */
        position: absolute;
        top: 2.5vw;
        right: 0vw;
        font-size: 5.5vw;
        /* max-width: 25vw; */

    }
    
    .footerIcon {
        float: right;
        color: white !important;
        padding: .5vw;
    }

}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (min-device-height: 365px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 
    .footerDiv {
      height: 10vw;
      width: 100vw;
    }
    .footerLanding {
      height: 100%;
      width: 100%;
      /* padding-bottom: 5vw; */
      position: absolute !important;
      left: 0 !important;
      top: 0;
    }
    
    .footerRow {
        width: 100%;
        height: 100%;
        margin: 0 auto !important;
        position: absolute;
        bottom: 0;
    }

    .footerLogoDiv {
        width: 5vw;
        margin-top: 5%;
        margin-left: 0;
    }
    .footerBrand {
      padding-right: 0px !important;
    }
    .footerLogo {
      width: 5vw;
      height: auto; 
      position: absolute;
      bottom: 2vw;
    }
    
    .footerTitle {
      font-size: 2.5vw;
      font-weight: bolder;
      color: white;
      position: absolute;
      bottom: .5vw;
      left: 7.8vw;
      white-space: pre-wrap;
    }

    .footerRow {
      font-family: 'Arial';
      /* width: 99%; */
      margin: 0 auto;
      /* height: 15vh; */
    }
    
    .footerBrand {
      max-width: 25vw;
    }

    .footerInfo {
      /* margin-left: 15px; */
      max-width: 55vw !important;
    }

    .footerInfo col {
      margin: 0 auto !important;
    }
    
    .footerInfo p {
      font-size: 1.5vw;
      color: white;
      line-height: 1vw;
      margin: 0 auto;
    }
    
    .footerAddress {
      text-align: center;
      position: absolute;
      top: 4vw;
    }
    
    /* .footerAddress p {
        margin-top: 8%;
        margin-bottom: 1%;
    } */
    
    .footerDisclaimer {
      position: absolute;
      top: 6vw;
    }
    
    .footerSocial {
        /* margin-top: 2%; */
        position: absolute;
        top: 2.5vw;
        right: 0vw;
        font-size: 4vw;
        /* max-width: 25vw; */

    }
    
    .footerIcon {
        float: right;
        color: white !important;
        padding: .5vw;
    }
}



/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
}

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (min-device-height: 800px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 
    .footerLanding {
      height: 15vw;
      padding-bottom: 0px;
    }
    
    .footerRow {
      width: 99%;
      max-height: 100%;
      margin: 0 auto;
    }

    .footerLogoDiv {
      width: 35px;
      margin-top: 5%;
      margin-left: 0;
    }
    .footerBrand {
      padding-right: 0px !important;
    }
    .footerLogo {
      width: 40px;
      height: auto; 
      position: absolute;
      top: 1vw;
      left: 1vw;
    }
    
    .footerTitle {
      font-size: 2.5vw;
      font-weight: bolder;
      color: white;
      position: absolute;
      top: 5vw;
      left: 10.5vw;
      white-space: pre-wrap;
    }

    .footerRow {
      font-family: 'Arial';
      width: 99%;
      margin: 0 auto;
      height: 15vh;
    }
    
    .footerBrand {
      max-width: 25vw;
    }

    .footerInfo {
      margin-left: 15px;
    }
    
    .footerInfo p {
      font-size: 2vw;
      color: white;
      line-height: 2.5vw;
    }
    
    .footerAddress {
      padding: 0;
      width: 60%;
      margin: 0 auto;
      position: absolute;
      bottom: 10vw;
      left: 0vw;
      text-align: center;
    }
    
    .footerDisclaimer {
      padding: 0;
      width: 60%;
      margin: 0 auto;
      text-align: center;
      position: absolute;
      bottom: 2.5vw;
      left: 0vw;
      white-space: pre-wrap;
    }
    
    .footerSocial {
      margin-top: 2%;
      position: absolute;
      bottom: 8vw;
      font-size: 6vw;
      display: inline-block
    }
    
    .footerIcon {
      float: right;
      color: white !important;
      padding-left: 1%;
    }

    
}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 
    .footerDiv {
      height: 2vw;
      width: 100vw;
    }
    .footerLanding {
      min-height: 100%;
      width: 100%;
      /* padding-bottom: 5vw; */
      position: absolute !important;
      left: 0 !important;
      top: 0;
    }
    
    .footerRow {
        width: 100%;
        height: 100%;
        margin: 0 auto !important;
        position: absolute;
        bottom: 0;
    }

    .footerLogoDiv {
        width: 5vw;
        margin-top: 5%;
        margin-left: 0;
    }
    .footerBrand {
      padding-right: 0px !important;
    }
    .footerLogo {
      width: 5vw;
      height: auto; 
      position: absolute;
      bottom: 1vw;
    }
    
    .footerTitle {
      font-size: 2vw;
      font-weight: bolder;
      color: white;
      position: absolute;
      top: 2vw;
      left: 7.1vw;
      white-space: pre-wrap;
    }

    .footerRow {
      font-family: 'Arial';
      /* width: 99%; */
      margin: 0 auto;
      /* height: 15vh; */
    }
    
    .footerBrand {
      max-width: 25vw;
    }

    .footerInfo {
      /* margin-left: 15px; */
      max-width: 55vw !important;
    }

    .footerInfo col {
      margin: 0 auto !important;
    }
    
    .footerInfo p {
      font-size: 1.5vw;
      color: white;
      line-height: 1vw;
      margin: 0 auto;
    }
    
    .footerAddress {
      text-align: center;
      position: absolute;
      top: 3vw;
    }
    
    /* .footerAddress p {
        margin-top: 8%;
        margin-bottom: 1%;
    } */
    
    .footerDisclaimer {
      position: absolute;
      top: 5vw;
    }
    
    .footerSocial {
        /* margin-top: 2%; */
        position: absolute;
        top: 2vw;
        right: 0vw;
        font-size: 4vw;
        max-width: 25vw;

    }
    
    .footerIcon {
        float: right;
        color: white !important;
        padding: .5vw;
    }
}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
}

/* Portrait */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 
    .footerLanding {
      height: 15vw;
      padding-bottom: 0px;
    }
    
    .footerRow {
      width: 99%;
      max-height: 100%;
      margin: 0 auto;
    }

    .footerLogoDiv {
      width: 35px;
      margin-top: 5%;
      margin-left: 0;
    }
    .footerBrand {
      padding-right: 0px !important;
    }
    .footerLogo {
      width: 40px;
      height: auto; 
      position: absolute;
      top: 1vw;
      left: 1vw;
    }
    
    .footerTitle {
      font-size: 2.5vw;
      font-weight: bolder;
      color: white;
      position: absolute;
      top: 5vw;
      left: 10.5vw;
      white-space: pre-wrap;
    }

    .footerRow {
      font-family: 'Arial';
      width: 99%;
      margin: 0 auto;
      height: 15vh;
    }
    
    .footerBrand {
      max-width: 25vw;
    }

    .footerInfo {
      margin-left: 15px;
    }
    
    .footerInfo p {
      font-size: 2vw;
      color: white;
      line-height: 2.5vw;
    }
    
    .footerAddress {
      padding: 0;
      width: 60%;
      margin: 0 auto;
      position: absolute;
      bottom: 10vw;
      left: 0vw;
      text-align: center;
    }
    
    .footerDisclaimer {
      padding: 0;
      width: 60%;
      margin: 0 auto;
      text-align: center;
      position: absolute;
      bottom: 2.5vw;
      left: 0vw;
      white-space: pre-wrap;
    }
    
    .footerSocial {
      margin-top: 2%;
      position: absolute;
      bottom: 8vw;
      font-size: 6vw;
      display: inline-block
    }
    
    .footerIcon {
      float: right;
      color: white !important;
      padding-left: 1%;
    }
}

/* Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 
    .footerDiv {
      height: 2vw;
      width: 100vw;
    }
    .footerLanding {
      min-height: 100%;
      width: 100%;
      /* padding-bottom: 5vw; */
      position: absolute !important;
      left: 0 !important;
      top: 0;
    }
    
    .footerRow {
      width: 100%;
      height: 100%;
      margin: 0 auto !important;
      position: absolute;
      bottom: 0;
    }

    .footerLogoDiv {
        width: 5vw;
        margin-top: 5%;
        margin-left: 0;
    }
    .footerBrand {
      padding-right: 0px !important;
    }
    .footerLogo {
      width: 5vw;
      height: auto; 
      position: absolute;
      bottom: 1vw;
    }
    
    .footerTitle {
      font-size: 2vw;
      font-weight: bolder;
      color: white;
      position: absolute;
      top: 2.7vw;
      left: 7.1vw;
      white-space: pre-wrap;
    }

    .footerRow {
      font-family: 'Arial';
      /* width: 99%; */
      margin: 0 auto;
      /* height: 15vh; */
    }
    
    .footerBrand {
      max-width: 25vw;
    }

    .footerInfo {
      /* margin-left: 15px; */
      max-width: 55vw !important;
    }

    .footerInfo col {
      margin: 0 auto !important;
    }
    
    .footerInfo p {
      font-size: 1.5vw;
      color: white;
      line-height: 1vw;
      margin: 0 auto;
    }
    
    .footerAddress {
      text-align: center;
      position: absolute;
      top: 3vw;
    }
    
    /* .footerAddress p {
        margin-top: 8%;
        margin-bottom: 1%;
    } */
    
    .footerDisclaimer {
      position: absolute;
      top: 5vw;
    }
    
    .footerSocial {
        /* margin-top: 2%; */
        position: absolute;
        top: 2vw;
        right: 0vw;
        font-size: 4vw;
        max-width: 25vw;

    }
    
    .footerIcon {
        float: right;
        color: white !important;
        padding: .5vw;
    }
}

/* ----------- Pixel 2 ----------- */
/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 
    .footerLanding {
      height: 15vw;
      padding-bottom: 0px;
    }
    
    .footerRow {
      width: 99%;
      max-height: 100%;
      margin: 0 auto;
    }

    .footerLogoDiv {
      width: 35px;
      margin-top: 5%;
      margin-left: 0;
    }
    .footerBrand {
      padding-right: 0px !important;
    }
    .footerLogo {
      width: 40px;
      height: auto; 
      position: absolute;
      top: 1vw;
      left: 1vw;
    }
    
    .footerTitle {
      font-size: 2.5vw;
      font-weight: bolder;
      color: white;
      position: absolute;
      top: 5vw;
      left: 10.5vw;
      white-space: pre-wrap;
    }

    .footerRow {
      font-family: 'Arial';
      width: 99%;
      margin: 0 auto;
      height: 15vh;
    }
    
    .footerBrand {
      max-width: 25vw;
    }

    .footerInfo {
      margin-left: 15px;
    }
    
    .footerInfo p {
      font-size: 2vw;
      color: white;
      line-height: 2.5vw;
    }
    
    .footerAddress {
      padding: 0;
      width: 60%;
      margin: 0 auto;
      position: absolute;
      bottom: 10vw;
      left: 0vw;
      text-align: center;
    }
    
    .footerDisclaimer {
      padding: 0;
      width: 60%;
      margin: 0 auto;
      text-align: center;
      position: absolute;
      bottom: 2.5vw;
      left: 0vw;
      white-space: pre-wrap;
    }
    
    .footerSocial {
      margin-top: 2%;
      position: absolute;
      bottom: 8vw;
      font-size: 6vw;
      display: inline-block
    }
    
    .footerIcon {
      float: right;
      color: white !important;
      padding-left: 1%;
    }

    
}
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 
    .footerDiv {
      height: 2vw;
      width: 100vw;
    }
    .footerLanding {
      min-height: 100%;
      width: 100%;
      /* padding-bottom: 5vw; */
      position: absolute !important;
      left: 0 !important;
      top: 0;
    }
    
    .footerRow {
        width: 100%;
        height: 100%;
        margin: 0 auto !important;
        position: absolute;
        bottom: 0;
    }

    .footerLogoDiv {
        width: 5vw;
        margin-top: 5%;
        margin-left: 0;
    }
    .footerBrand {
      padding-right: 0px !important;
    }
    .footerLogo {
      width: 5vw;
      height: auto; 
      position: absolute;
      bottom: 1vw;
    }
    
    .footerTitle {
      font-size: 2vw;
      font-weight: bolder;
      color: white;
      position: absolute;
      top: 2.6vw;
      left: 7.1vw;
      white-space: pre-wrap;
    }

    .footerRow {
      font-family: 'Arial';
      /* width: 99%; */
      margin: 0 auto;
      /* height: 15vh; */
    }
    
    .footerBrand {
      max-width: 25vw;
    }

    .footerInfo {
      /* margin-left: 15px; */
      max-width: 55vw !important;
    }

    .footerInfo col {
      margin: 0 auto !important;
    }
    
    .footerInfo p {
      font-size: 1.5vw;
      color: white;
      line-height: 1vw;
      margin: 0 auto;
    }
    
    .footerAddress {
      text-align: center;
      position: absolute;
      top: 3vw;
    }
    
    /* .footerAddress p {
        margin-top: 8%;
        margin-bottom: 1%;
    } */
    
    .footerDisclaimer {
      position: absolute;
      top: 5vw;
    }
    
    .footerSocial {
        /* margin-top: 2%; */
        position: absolute;
        top: 2vw;
        right: 0vw;
        font-size: 4vw;
        max-width: 25vw;

    }
    
    .footerIcon {
        float: right;
        color: white !important;
        padding: .5vw;
    }
}


