/* NAVBAR */
@font-face {
	font-family: 'gfitfont';
	font-style: normal;
	font-weight: bolder;
	src: local('gfitfont'), url('../fonts/gfitfont.ttf'), url('../fonts/gfitfont.woff'), format('truetype');
}
@font-face {
	font-family: 'gfitfont-bold';
	font-style: normal;
	font-weight: bolder;
	src: local('gfitfontBold'), url('../fonts/gfitfontBold.ttf'), url('../fonts/gfitfontBold.woff') format('truetype');
}

.masterRow {
	height: 50px;
	margin: 0 auto;
}

.navbar {
	/* font-family: 'gfitfont-bold'; */
	font-weight: 900;
	position: relative;
	margin-bottom: 0;
	background-color: #fac04e;
	top: 0;
	transition: top 0.6s;
	height: 10vh;
}

/* .navbar--hidden {
        top: -75px;
      } */

.Navbar-logo {
	height: 10%;
}

.navbar-brand {
	height: 70px;
	position: relative;
	/* left: 15px; */
	top: 1px;
	/* font-family: 'gfitfont-bold'; */
	font-weight: 800;
	color: #000000;
}
.navbar-brand:hover {
	background-color: transparent;
	color: white;
	cursor: pointer;
}
.navbar-toggler {
	position: absolute;
	right: 0;
	background-color: #fac04e;
}
.navbar-toggler-icon {
	color: #000000;
}
.nav-item {
	border-radius: 5%;
	color: #000000;
	margin: 0 auto;
}
.nav-item:hover {
	/* text-shadow: 2px 2px #FAC04E; */
	text-decoration: none;
	background-color: transparent;
	color: #000000;
	cursor: pointer;
}

.nav-link {
	font-family: 'gfitfont-bold';
	font-weight: 900;
	font-size: 1.5vw;
	text-align: center;
	color: #000000;
	margin-left: 1vw;
}
.nav-link:hover {
	text-shadow: 2px 2px white;
	background-color: transparent;
	color: #000000;
}
.pages {
	position: absolute;
	right: 3%;
}
.iconBar {
	color: #fac04e;
	background-color: transparent;
}

/* BURGER MENU */
.burgerMenu {
	height: 100%;
	top: 5px;
	background-color: #fac04e;
	color: black;
	padding-top: 15%;
	width: auto !important;
}
.navbarTogglerButtonCustom {
	top: 10px;
	color: black;
}
.bm-item {
	font-size: 3vw;
	font-weight: bolder;
	color: black;
}
.bm-cross {
	background: transparent;
	height: 3vh;
	width: 1.5vw;
	color: white;
}
.bm-cross-button {
	color: white;
	left: 10px;
}

.signUp {
	background-color: black;
	color: #fac04e;
	padding: 5%;
	border-radius: 5%;
	white-space: nowrap;
	font-size: 1.7vw;
}
.signUp:hover {
	color: #fac04e;
	text-shadow: 1px 1px white;
	background-color: black;
	text-decoration: none;
}

@media only screen and (min-device-width: 420px) and (max-device-width: 480px) {
	.burgerMenu {
		right: 50px;
	}
}

/* ----------- LAPTOPS ----------- */

/* ----------- Non-Retina Screens ----------- */

@media screen and (min-device-height: 1000px) and (max-device-width: 699px) and (-webkit-min-device-pixel-ratio: 1) {
	/* .navbar {
		height: 15vw;
	} */

	/* BURGER MENU */
	.burgerMenu {
		height: 100%;
		top: 0px;
		width: 70%;
	}
	.navbarElementHidden {
		right: -40vw;
	}
	.navbarTogglerButtonCustom {
		top: 1vw;
		color: black;
		font-size: 5vw;
	}
	.bm-menu {
		line-height: 6vw;
		max-width: 30vw;
	}
	.bm-item-list {
		height: 40%;
	}
	.bm-item {
		font-size: 2vw;
		font-weight: bolder;
		line-height: 3vw;
		/* color: black ; */
	}
	.bm-cross {
		width: 3vw;
		height: auto;
	}
	.bm-cross-button {
		left: 20px;
		top: 15px;
	}
}

@media screen and (min-device-width: 700px) and (max-device-width: 1200px) and (-webkit-min-device-pixel-ratio: 1) {
	/* BURGER MENU */
	/* .burgerMenu {
		height: 60vw;
		top: 0px;
		max-width: 40%;
	}
	.navbarElementHidden {
		right: -70vw;
	}
	.navbarTogglerButtonCustom {
		top: 3px;
		color: black;
		font-size: 3vw;
	}
	.bm-menu {
		line-height: 1vw;
		max-width: 100%;
	}
	.bm-item-list {
		height: 100vw;
	}
	.bm-item {
		font-size: 2vw;
		font-weight: bolder;
		line-height: 3vw;
	}
	.bm-cross {
		width: 3vw;
		height: auto;
	}
	.bm-cross-button {
		left: 20px;
		top: 15px;
	} */
}

@media screen and (min-device-width: 1201px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
	/* .navbar {
		height: 10vw;
	} */
}

@media screen and (min-device-width: 1601px) and (max-device-width: 1800px) and (-webkit-min-device-pixel-ratio: 1) {
	/* .navbar {
		height: 10vw;
	} */
}

@media screen and (min-device-width: 1800px) and (max-device-width: 2000px) and (-webkit-min-device-pixel-ratio: 1) {
	/* .navbar {
		height: 10vw;
	} */
}

@media screen and (min-device-width: 2001px) and (-webkit-min-device-pixel-ratio: 1) {
	.navbar {
		height: 15vh;
	}
	.Navbar-logo {
		height: 10vh;
	}
}

/* ----------- iPads ----------- */

/* ----------- iPad 1, 2, Mini and Air ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
}

/* Portrait */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
	/* BURGER MENU */
	.navbarTogglerButtonCustom {
		font-size: 2rem;
	}
	.burgerMenu {
		height: 100%;
		width: 70vw !important;
		top: 0vw;
		background-color: #fac04e;
		padding-top: 15%;
		transform: translate3d(-40vw, 0px, 0px);
		left: 70vw;
	}
	.bm-menu {
		line-height: 4rem;
	}
	.bm-item-list {
		height: 40%;
	}
	.bm-item {
		font-size: 2rem;
		font-weight: bolder;
	}
	.bm-cross {
		width: 8vw;
		height: auto;
	}
	.bm-cross-button {
		left: 20px;
		top: 2vh !important;
		width: 5vw !important;
		height: auto !important;
	}
}

/* Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
	/* BURGER MENU */
	.burgerMenu {
		height: 100%;
		width: auto !important;
		top: 0vw;
		background-color: #fac04e;
		padding-top: 15%;
		left: 25vw;
	}
	.bm-menu {
		line-height: 4vw;
	}
	.bm-item-list {
		height: 40%;
	}
	.bm-item {
		font-size: 1.5rem;
		font-weight: bolder;
	}
	.bm-cross {
		width: 4vw;
		height: auto;
	}
	.bm-cross-button {
		left: 20px;
		top: 15px;
	}
}

/* ----------- iPad 3, 4 and Pro 9.7" ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {
}

/* Portrait */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
	.signUp {
		background-color: black;
		color: #fac04e;
		border-radius: 5%;
		white-space: nowrap;
		margin: 0 auto;
		margin-top: 10%;
		/* padding: 1rem 1rem; */
	}
	.nav-link {
		font-size: 2rem;
	}
}

/* Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 768px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
	.navbar {
		height: 10vw;
		max-width: 100vw;
	}
	.nav-item {
		padding-bottom: 10px;
		color: #000000;
		padding-left: 0;
		padding-right: 0;
		letter-spacing: .3vw;
	}
	.nav-item:hover {
		text-shadow: 2px 2px #fac04e;
		background-color: transparent;
		color: #000000;
		cursor: pointer;
	}

	.nav-link {
		font-family: 'gfitfont-bold';
		font-weight: 900;
		font-size: 1rem;
		text-align: center;
		color: #000000;
	}
	.nav-link:hover {
		text-shadow: 2px 2px white;
		background-color: transparent;
		color: #000000;
	}
	.navbar-brand {
		top: 0px;
	}
	.Navbar-logo {
		height: 60px;
	}
	.burgerMenu {
		height: 100%;
		width: 100%;
	}
	.bm-item {
		font-size: 2rem;
	}
	.signUp {
		background-color: black;
		color: #fac04e;
		border-radius: 5%;
		white-space: nowrap;
		margin: 0 auto;
	}
	.signUp:hover {
		color: #fac04e;
		text-shadow: 1px 1px white;
		background-color: black;
	}
}

/* ----------- iPad Pro 10.5" ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 834px) and (max-device-width: 1112px) and (-webkit-min-device-pixel-ratio: 2) {
}

/* Portrait */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen and (min-device-width: 834px) and (max-device-width: 834px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
}

/* Landscape */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen and (min-device-width: 1112px) and (max-device-width: 1112px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
	.navbar {
		height: 10vw;
	}
	.nav-item {
		padding-bottom: 10px;
		color: #000000;
		padding-left: 0;
		padding-right: 0;
	}
	.nav-item:hover {
		text-shadow: 2px 2px #fac04e;
		background-color: transparent;
		color: #000000;
		cursor: pointer;
	}

	.nav-link {
		font-family: 'gfitfont-bold';
		font-weight: 900;
		font-size: 1.7vw;
		text-align: center;
		color: #000000;
	}
	.nav-link:hover {
		text-shadow: 2px 2px white;
		background-color: transparent;
		color: #000000;
	}
	.navbar-brand {
		top: 0px;
	}
	.Navbar-logo {
		height: 60px;
	}
	.burgerMenu {
		height: 85%;
		width: 50%;
	}
	.bm-item {
		font-size: 8vw;
	}
	.signUp {
		background-color: black;
		color: #fac04e;
		border-radius: 5%;
		white-space: nowrap;
		margin: 0 auto;
	}
	.signUp:hover {
		color: #fac04e;
		text-shadow: 1px 1px white;
		background-color: black;
	}
}

/* ----------- iPad Pro 12.9" ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) {
}

/* Portrait */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen and (min-device-width: 1024px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
	.nav-link {
		font-size: 1.3rem;
	}
}

/* Landscape */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen and (min-device-width: 1366px) and (max-device-width: 1366px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
	.navbar {
		height: 10vw;
	}
	.nav-item {
		padding-bottom: 10px;
		color: #000000;
		padding-left: 0;
		padding-right: 0;
	}
	.nav-item:hover {
		text-shadow: 2px 2px #fac04e;
		background-color: transparent;
		color: #000000;
		cursor: pointer;
	}

	.nav-link {
		font-family: 'gfitfont-bold';
		font-weight: 900;
		font-size: 1.7vw;
		text-align: center;
		color: #000000;
	}
	.nav-link:hover {
		text-shadow: 2px 2px white;
		background-color: transparent;
		color: #000000;
	}
	.navbar-brand {
		top: 0px;
	}
	.Navbar-logo {
		height: 60px;
	}
	.burgerMenu {
		height: 85%;
		width: 50%;
	}
	.bm-item {
		font-size: 8vw;
	}
	.signUp {
		background-color: black;
		color: #fac04e;
		border-radius: 5%;
		white-space: nowrap;
		margin: 0 auto;
	}
	.signUp:hover {
		color: #fac04e;
		text-shadow: 1px 1px white;
		background-color: black;
	}
}

/* ----------- iPhones ----------- */

/* ----------- iPhone 4 and 4S ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
}

/* Portrait */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
}

/* Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
}

/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
	.navbar-brand {
		left: 0px;
		top: 0px;
		padding-top: 0;
	}
}

/* Portrait */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
	.navbar {
		height: 10vh;
	}
	.Navbar-logo {
		/* height: 7vh ; */
		height: 7vh;
	}
	/* BURGER MENU */
	.burgerMenu {
		height: 100%;
		width: auto;
		top: 0vw;
		background-color: #fac04e;
		padding-top: 15%;
		left: 20vw;
	}
	.bm-menu {
		line-height: 4vw;
	}
	.bm-item-list {
		height: 40%;
	}
	.bm-item {
		font-size: 1rem;
		line-height: 1.5rem;
		font-weight: bolder;
	}
	.bm-cross {
		width: 4vw;
		height: auto;
	}
	.bm-cross-button {
		left: 20px;
		top: 15px;
	}
}

/* Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
	.navbar {
		height: 10vw;
		width: 100vw;
	}
	.Navbar-logo {
		height: 8vw;
	}
	.navbarTogglerButtonCustom {
		top: 1vw;
		color: black;
		font-size: 1.5rem;
	}
	/* BURGER MENU */
	.burgerMenu {
		height: 100%;
		width: 50vw;
		top: 0vw;
		background-color: #fac04e;
		padding-top: 15%;
		left: 50vw;
	}
	.bm-menu {
		line-height: 4vw;
	}
	.bm-item-list {
		height: 40%;
	}
	.bm-item {
		font-size: 4vw;
		font-weight: bolder;
	}
	.bm-cross {
		width: 4vw;
		height: auto;
	}
	.bm-cross-button {
		left: 20px;
		top: 15px;
	}
}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
	.navbar-brand {
		left: 0px;
		top: 0px;
		padding-top: 0;
	}
}

/* Portrait */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
	.burgerMenu {
		padding-top: 10vh;
	}
	.bm-item {
		font-size: 1.5rem;
		line-height: 2rem;
		margin-bottom: 5vh;
	}
	.bm-cross {
		width: 6vw !important;
		height: auto;
	}
	.bm-cross-button {
		left: 20px;
		top: 2vh !important;
	}
}

/* Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (min-device-height: 365px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
	.navbar {
		height: 10vw;
		width: 100vw;
	}
	.Navbar-logo {
		height: 8vw;
	}
	.navbarTogglerButtonCustom {
		top: 1vw;
		color: black;
		font-size: 1.5rem;
	}
	/* BURGER MENU */
	.burgerMenu {
		height: 100%;
		width: 45vw;
		top: 0vw;
		background-color: #fac04e;
		padding-top: 20vh;
		left: 55vw;
	}
	.bm-menu {
		line-height: 4vw;
	}
	.bm-item-list {
		height: 40%;
	}
	.bm-item {
		font-size: 1.5rem;
		font-weight: bolder;
	}
	.bm-cross {
		width: 4vw;
		height: auto;
	}
	.bm-cross-button {
		left: 20px;
		top: 15px;
	}
}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) {
}

/* Portrait */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
	/* BURGER MENU */
	.burgerMenu {
		height: 100%;
		width: 70vw;
		top: 0vw;
		background-color: #fac04e;
		padding-top: 15%;
		left: 50vw;
	}
	.bm-menu {
		line-height: 4vw;
	}
	.bm-item-list {
		height: 40%;
	}
	.bm-item {
		font-size: 1rem;
		line-height: 1.5rem;
		font-weight: bolder;
	}
	.bm-cross {
		width: 4vw;
		height: auto;
	}
	.bm-cross-button {
		left: 20px;
		top: 15px;
	}
}

/* Landscape */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
	.masterRow {
		height: 10vh;
	}
	.navbar {
		height: 8vw;
	}
	.navbarTogglerButtonCustom {
		font-size: 1.5rem;
		top: 1vh;
	}
	.navbar-brand {
		height: 8vh;
		top: 1vh;
	}
	.Navbar-logo {
		height: 11vh;
		padding: 0.5vw;
	}

	/* BURGER MENU */
	.burgerMenu {
		height: 100%;
		top: 5px;
		right: 0px;
		background-color: #fac04e;
		padding-top: 15%;
		width: 20%;
	}

	.bm-menu {
		line-height: 12vw;
	}
	.bm-item-list {
		height: 40%;
	}
	.bm-item {
		font-size: 2vw;
		font-weight: bolder;
		line-height: 3vw;
	}
	.bm-cross {
		width: 3vw;
		height: auto;
	}
	.bm-cross-button {
		left: 20px;
		top: 15px;
	}
}

/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
}

/* Portrait */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
	.navbar {
		height: 20vw;
	}
	.navbar-brand {
		left: 0px;
	}
	.Navbar-logo {
		height: 50px;
	}
	/* BURGER MENU */
	.burgerMenu {
		height: 100%;
		width: 70vw;
		top: 0vw;
		background-color: #fac04e;
		padding-top: 15vh;
		left: 30vw;
	}
	.bm-menu {
		line-height: 4vw;
	}
	.bm-item-list {
		height: 40%;
	}
	.bm-item {
		font-size: 1.5rem;
		line-height: 2rem;
		font-weight: bolder;
		padding-bottom: 5vh;
	}
	.bm-cross {
		width: 6vw !important;
		height: auto;
	}
	.bm-cross-button {
		left: 20px;
		top: 2vh !important;
	}
}

/* Landscape */
@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
	.masterRow {
		height: 10vh;
	}
	.navbar {
		height: 8vw;
	}
	.navbarTogglerButtonCustom {
		font-size: 1.5rem;
		top: 1vh;
	}
	.navbar-brand {
		height: 8vh;
		top: 1vh;
	}
	.Navbar-logo {
		height: 14vh;
		padding: 1vw;
	}

	/* BURGER MENU */
	.burgerMenu {
		height: 100%;
		width: auto !important;
		top: 0vw;
		background-color: #fac04e;
		padding-top: 10%;
		left: 65vw;
	}
	.bm-menu {
		line-height: 4vw;
	}
	.bm-item-list {
		height: 40%;
	}
	.bm-item {
		font-size: 1rem;
		font-weight: bolder;
	}
	.bm-cross {
		width: 4vw;
		height: auto;
	}
	.bm-cross-button {
		left: 20px;
		top: 15px;
	}
}

/* ----------- Surface Duo ----------- */

@media only screen and (min-device-width: 540px) and (max-device-width: 540px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
	.burgerMenu {
		transform: translate3d(-20vw, 0px, 0px);
		left: 70vw;
		width: 50vw !important;
	}
}
