@font-face {
	font-family: 'gfitfont';
	font-style: normal;
	font-weight: bolder;
	src: local('gfitfont'), url('../fonts/gfitfont.ttf'), url('../fonts/gfitfont.woff'), format('truetype');
}
@font-face {
	font-family: 'gfitfont-bold';
	font-style: normal;
	font-weight: bolder;
	src: local('gfitfontBold'), url('../fonts/gfitfontBold.ttf'), url('../fonts/gfitfontBold.woff') format('truetype');
}

.gymInfo {
	font-family: 'gfitfont-bold', Times, serif;
	min-height: 100%;
	background-color: #888888;
	background-image: linear-gradient(black, #888888);
	max-width: 100vw !important;
}

.gymInfoRow {
	height: 100%;
	width: 100%;
	margin: 0 auto !important;
	padding-bottom: 10% !important;
}

.gymInfoDetailsCol {
	position: absolute;
	z-index: 1000;
	left: 40vw;
	width: 60vw;
	white-space: pre-wrap;
}

.gymInfoLogoCol {
	position: relative !important;
	padding-top: 17vh;
	z-index: 1;
	width: 60vw;
}

.gymInfoDetailsRow {
	background-color: #fac04e;
	margin-bottom: 10vh;
	opacity: 0.85;
}

.gymInfoDetailsHeader,
.gymInfoDetailsBody {
	margin-left: 1vw;
	margin-right: 5vw;
}

.gymInfoDetailsHeader {
	font-size: 1.8rem;
	margin-top: 2vh;
}

.gymInfoDetailsBody {
	font-size: 1.3rem;
	font-family: 'gfitfont';
}

.gymInfoLogo {
	width: 100%;
}

.gymInfoHeaderRow {
	padding: 1%;
}

.gymInfoBodyRow {
	font-family: 'Arial';
	padding: 1%;
}

.gymInfoBody {
	font-size: 1.2vw;
	color: white;
	font-weight: bold;
}

.gymInfoLink {
	color: #fac04e;
}

.gymInfoLink:hover {
	color: #fac04e;
}

/* ----------- iPads ----------- */

/* ----------- iPad 1, 2, Mini and Air ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
}

/* Portrait */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
	.gymInfo {
		min-height: 100%;
		padding-top: 1vw;
		padding-bottom: 20%;
	}

	.gymInfoDetailsRow {
		margin-bottom: 5vh;
	}

	.gymInfoLogoCol {
		position: relative !important;
		padding-top: 1vh;
		z-index: 1;
		width: 100vw;
		margin-bottom: 5vh;
	}

	.gymInfoDetailsCol {
		position: relative;
		z-index: 1000;
		left: 0vw;
		width: 80vw;
		white-space: pre-wrap;
	}

	.gymInfoRow {
		height: 100%;
		width: 80%;
		margin-top: 10vw !important;
	}

	.gymInfoLogo {
		width: 100%;
	}

	.gymInfoDetailsHeader,
	.gymInfoDetailsBody {
		margin-left: 4vw;
	}

	.gymInfoDetailsHeader {
		font-family: 'gfitfont';
		font-weight: bolder;
		font-size: 1.6rem;
		line-height: 2rem;
		font-stretch: expanded;
	}

	.gymInfoDetailsBody {
		font-size: 1.4rem;
		font-weight: 500;
	}
}

/* Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
	.gymInfo {
		padding-top: 10vh;
		height: 165vh;
	}
	.gymInfoLogoCol {
		padding-top: 22vh;
		width: 70vw;
	}
	.gymInfoDetailsCol {
		width: 45vw;
		left: 50vw;
	}
	.gymInfoDetailsBody {
		line-height: 1.5rem;
	}
}

/* ----------- iPad 3, 4 and Pro 9.7" ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 1024px) and (max-device-height: 1366px) and (-webkit-min-device-pixel-ratio: 1.5) {
}

/* Portrait */
@media only screen and (min-device-width: 1024px) and (max-device-height: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5) {
	.gymInfo {
		height: 90vh;
	}
	.gymInfoRow {
		margin-left: 5vw;
		width: 95%;
	}
	.gymInfoLogoCol {
		padding-top: 12vh;
		width: 70vw;
	}
	.gymInfoDetailsCol {
		position: absolute;
		z-index: 1000;
		left: 46vw;
		width: 50vw;
		white-space: pre-wrap;
	}
	.gymInfoDetailsHeader {
		font-size: 2rem;
	}
	.gymInfoDetailsBody {
		font-size: 1.5rem;
		line-height: 1.5rem;
	}
}

/* Landscape */
@media only screen and (min-device-width: 1024px) and (max-device-height: 1366px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
	.gymInfo {
		padding-top: 15vh;
		margin-bottom: 15vh;
		height: 165vh;
	}
	.gymInfoLogoCol {
		width: 70vw;
		margin-left: 5vw;
	}
	.gymInfoDetailsCol {
		width: 55vw;
		left: 45vw;
	}
	.gymInfoDetailsBody {
		font-size: 1.6rem;
		line-height: 1.7rem;
	}
	.gymInfoDetailsRow {
		width: 52vw;
		padding-left: 2vw;
	}
}

/* ----------- iPad Pro 10.5" ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 834px) and (max-device-width: 1112px) and (-webkit-min-device-pixel-ratio: 2) {
}

/* Portrait */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen and (min-device-width: 834px) and (max-device-width: 834px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
}

/* Landscape */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen and (min-device-width: 1112px) and (max-device-width: 1112px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
}

/* ----------- iPad Pro 12.9" ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) {
}

/* Portrait */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen and (min-device-width: 1024px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
	.gymInfoDetailsHeader,
	.gymInfoDetailsBody {
		margin: 1.5vw;
	}
	.gymInfoDetailsHeader {
		font-size: 1.5rem;
		margin-bottom: 0;
	}
	.gymInfoDetailsBody {
		font-size: 1rem;
	}
}

/* Landscape */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen and (min-device-width: 1366px) and (max-device-width: 1366px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
}

/* ----------- iPhones ----------- */

/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
}

/* Portrait */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
	.gymInfo {
		min-height: 100%;
		padding-top: 1vw;
		padding-bottom: 20%;
	}

	.gymInfoDetailsRow {
		margin-bottom: 5vh;
	}

	.gymInfoLogoCol {
		position: relative !important;
		padding-top: 1vh;
		z-index: 1;
		width: 100vw;
		margin-bottom: 5vh;
	}

	.gymInfoDetailsCol {
		position: relative;
		z-index: 1000;
		left: 0vw;
		width: 80vw;
		white-space: pre-wrap;
	}

	.gymInfoRow {
		height: 100%;
		width: 80%;
		margin-top: 10vw !important;
	}

	.gymInfoLogo {
		width: 100%;
	}

	.gymInfoDetailsHeader,
	.gymInfoDetailsBody {
		margin-left: 4vw;
	}

	.gymInfoDetailsBody {
		line-height: 1.3rem;
	}

	.gymInfoDetailsHeader {
		font-family: 'gfitfont';
		font-weight: bolder;
		font-size: 1rem;
		line-height: 2rem;
		font-stretch: expanded;
	}

	.gymInfoDetailsBody {
		font-size: 1rem;
		font-weight: 500;
	}
}

/* Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
	.gymInfo {
		height: 100%;
	}
	.gymInfoRow {
		width: 100vw;
	}
	.gymInfoLogoCol {
		width: 95%;
		margin: 0 auto;
	}
	.gymInfoDetailsCol {
		position: relative;
		width: 100vw;
		left: 0;
		margin-top: 5vh;
	}
	.gymInfoDetailsRow {
		width: 90%;
		margin: 0 auto;
		margin-bottom: 5vh;
	}
	.gymInfoDetailsHeader,
	.gymInfoDetailsBody {
		margin-left: 3vw;
	}
	.gymInfoDetailsHeader {
		font-size: 1.2rem;
	}
	.gymInfoDetailsBody {
		font-size: 1rem;
	}
}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
}

/* Portrait */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
}

/* Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
	.gymInfo {
		height: 100%;
	}
	.gymInfoRow {
		width: 100vw;
	}
	.gymInfoLogoCol {
		width: 95%;
		margin: 0 auto;
	}
	.gymInfoDetailsCol {
		position: relative;
		width: 100vw;
		left: 0;
		margin-top: 5vh;
	}
	.gymInfoDetailsRow {
		width: 90%;
		margin: 0 auto;
		margin-bottom: 5vh;
	}
	.gymInfoDetailsHeader,
	.gymInfoDetailsBody {
		margin-left: 3vw;
	}
	.gymInfoDetailsHeader {
		font-size: 1.2rem;
	}
	.gymInfoDetailsBody {
		font-size: 1rem;
	}
}

/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
}

/* Portrait */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
}

/* Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
	.gymInfo {
		height: 100%;
	}
	.gymInfoRow {
		width: 100vw;
	}
	.gymInfoLogoCol {
		width: 95%;
		margin: 0 auto;
	}
	.gymInfoDetailsCol {
		position: relative;
		width: 100vw;
		left: 0;
		margin-top: 5vh;
	}
	.gymInfoDetailsRow {
		width: 90%;
		margin: 0 auto;
		margin-bottom: 5vh;
	}
	.gymInfoDetailsHeader,
	.gymInfoDetailsBody {
		margin-left: 3vw;
	}
	.gymInfoDetailsHeader {
		font-size: 1.2rem;
	}
	.gymInfoDetailsBody {
		font-size: 1rem;
	}
}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) {
}

/* Portrait */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
}

/* Landscape */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
}

/* ----------- Pixel 2 ----------- */

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
}

/* ----------- Surface Duo ----------- */

@media only screen and (min-device-width: 540px) and (max-device-width: 540px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
}

/* ----------- LAPTOPS ----------- */

/* ----------- Non-Retina Screens ----------- */
@media screen and (min-device-width: 1024px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
	.gymInfoDetailsRow {
		padding: 0.8vw;
	}
	.gymInfoDetailsBody {
		font-size: 1.5rem;
	}
}

@media screen and (min-device-width: 1201px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
}

@media screen and (min-device-width: 1601px) and (max-device-width: 2000px) and (-webkit-min-device-pixel-ratio: 1) {
}

@media screen and (min-device-width: 2001px) and (-webkit-min-device-pixel-ratio: 1) {
	.gymInfoDetailsHeader {
		font-size: 2rem;
	}
}

/* ----------- Retina Screens ----------- */
@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
	.gymInfoHeaderLeft {
		font-size: 3vw;
		letter-spacing: .5px;
	}
	.gymInfoHeaderRight {
		font-size: 3vw;
		letter-spacing: .5px;
	}
	.gymInfoAddress {
		font-size: 2.3vw;
	}
	.gymInfoBody {
		font-size: 1.8vw;
	}
	.gFitStrongLeftLanding {
		font-family: 'gfitfont-bold', Times, serif;
		font-size: 2vw;
	}
	.gFitStrongRightLanding {
		font-family: 'gfitfont-bold', Times, serif;
		font-size: 2vw;
		color: #fac04e;
	}
}

@media screen and (min-device-width: 1600px) and (max-device-width: 2000px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
}

@media screen and (min-device-width: 2001px) and (max-device-width: 4000px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
}

@media screen and (min-device-width: 2001px) and (max-device-width: 3000px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
	.gymInfoDetailsRow {
		padding: 25px;
	}
	.gymInfoDetailsHeader {
		font-size: 3rem;
	}
	.gymInfoDetailsBody {
		font-size: 2.5rem;
		line-height: 3rem;
	}
}
