@font-face {
  font-family: 'gfitfont';
  font-style: normal;
  font-weight: bolder;
  src: local('gfitfont'), url('../fonts/gfitfont.ttf'), url('../fonts/gfitfont.woff'), format('truetype');
}
@font-face {
    font-family: 'gfitfont-bold';
    font-style: normal;
    font-weight: bolder;
    src: local('gfitfontBold'), url('../fonts/gfitfontBold.ttf'), url('../fonts/gfitfontBold.woff') format('truetype');
  }

.tryItOutLanding {
    height: 575px;
    background-color: black;
    padding: 10%;
    margin-top: 8vh;
}

.tryItOutInfoTitle {
    font-family: 'gfitfont-bold', Times, serif;
    padding-left: 15px;
    margin-bottom: 3%;
}

.tryItOutInfoTitleLeft {
    font-size: 2.5vw;
    letter-spacing: 3px;
    color: white;
    font-weight: bolder; 
}

.tryItOutInfoTitleRight {
    font-size: 2.5vw;
    letter-spacing: 3px;
    color: #FAC04E;
    font-weight: bolder; 
}

.tryItOutInfoBodyRow {
    font-family: 'Arial';
    font-size: 1.3vw;
    font-weight: bold;
    color: white;
}

/* ----------- iPhone 4 and 4S ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

}

/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    .tryItOutLanding {
        height: 450px;
        padding: 10%;
        /* margin-top: 20%; */
    }
    
    .tryItOutInfoTitle {
        padding-left: 15px;
        margin-bottom: 3%;
        margin-top: 30%;
    }
    
    .tryItOutInfoTitleLeft {
        font-size: 5vw;
        letter-spacing: 1px;
        color: white;
        font-weight: bolder; 
    }
    
    .tryItOutInfoTitleRight {
        font-size: 5vw;
        letter-spacing: 1px;
        color: #FAC04E;
        font-weight: bolder; 
    }
    
    .tryItOutInfoBodyRow {
        font-size: 2.8vw;
        font-weight: bold;
        color: white;
    }
}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 

}

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 

}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 

}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 

}

/* Portrait */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 

}

/* Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 

}

/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 

}

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 
    .tryItOutLanding {
        height: 500px;
        padding: 10%;
    }
    
    .tryItOutInfoTitle {
        padding-left: 15px;
        margin-bottom: 3%;
        margin-top: 30%;
    }
    
    .tryItOutInfoTitleLeft {
        font-size: 5vw;
        letter-spacing: 1px;
        color: white;
        font-weight: bolder; 
    }
    
    .tryItOutInfoTitleRight {
        font-size: 5vw;
        letter-spacing: 1px;
        color: #FAC04E;
        font-weight: bolder; 
    }
    
    .tryItOutInfoBodyRow {
        font-size: 2.8vw;
        font-weight: bold;
        color: white;
    }
}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 

}



/* ----------- LAPTOPS ----------- */


/* ----------- Non-Retina Screens ----------- */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
    
}

@media screen 
  and (min-device-width: 1600px)  
  and (max-device-width: 2000px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
    .tryItOutLanding {
      height: 700px;
      padding: 10%;
    }
}

@media screen 
  and (min-device-width: 2001px)  
  and (-webkit-min-device-pixel-ratio: 1) { 
    .tryItOutLanding {
      height: 900px;
      padding: 10%;
    }
}

/* ----------- Retina Screens ----------- */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) { 
    
}

@media screen 
  and (min-device-width: 1600px) 
  and (max-device-width: 2000px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) { 
    .contactLanding {
      height: 80vh;
    }
    .tryItOutLanding {
      height: 700px;
      padding: 10%;
    }
}

@media screen 
  and (min-device-width: 2001px)  
  and (-webkit-min-device-pixel-ratio: 2) { 
    .tryItOutLanding {
      height: 900px;
      padding: 10%;
    }
}