@font-face {
    font-family: 'gfitfont';
    font-style: normal;
    font-weight: normal;
    src: local('gfitfont'), url('./gfitfont.ttf'), url('./gfitfont.woff') format('truetype');
  }

.aboutPage {
    background-image: url('../css/images/gfitinsta/gym.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: 'gfitfont';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    padding: 30px;
    padding-top: 10px;
    background-color: lightgrey !important;
    color: white !important;
    text-align: center;
    margin-bottom: 5%;
    position: absolute;
    left: 0;
    top: 1450px;
    width: 80%;
    margin-left: 10%;
    border-radius: 5%;
    border: solid 2px #B1864F;
}

.aboutPage h1 {
    margin-bottom: 5%;
}

.trainer {
    color: white;
    text-align: center;
    text-shadow: 1px 1px #B1864F;
}

.trainer img {
    width: 200px !important;
    height: 200px !important;
    border-radius: 50% !important;
}

.trainer .name {
    margin-top: 2%;
    margin-bottom: 0;
    line-height: 1em;
}
.trainer .position {
    line-height: 1em;
}
.aboutPage .trainer img {
    width: 100% !important; 
    height: auto !important;
}

/* IPHONE 5 */
@media (max-width: 321px) {
    .aboutPage {
        top: 850px;
    }
}

/* IPHONE 6/7/8 && GALAXY S5 */
@media (min-width: 320px) and (max-width: 500px) {
    .aboutPage {
        top: 1350px;
    }
    .aboutPage .container .aboutPage {
        font-size: 10px;
        padding: 30px;
        margin-top: 10%;
    }
    .aboutPage h1 {
        font-size: 20px;
    }
    .aboutPage .trainer img {
        width: 100% !important; 
        height: auto !important;
    }
    .aboutPage p {
        font-size: 10px;
    }
    .aboutPage .trainer p {
        font-size: 12px;
    }
}

/* IPHONE 6/7/8 && GALAXY S5 */
@media (min-width: 320px) and (max-width: 500px) and (max-height: 700px) {
    .aboutPage {
        top: 1350px;
    }
}

/* IPHONE 6/7/8 PLUS && PIXEL */
@media (min-width: 320px) and (max-width: 500px) and (min-height: 701px) and (max-height: 800px) {
    .aboutPage {
        top: 1400px;
    }
}
/* IPHONE X && PIXEL 2 */
@media (min-width: 320px) and (max-width: 500px) and (min-height: 801px) and  (max-height: 900px) {
    .aboutPage {
        top: 1650px;
    }
}

/* IPAD */
@media (min-width: 600px) and (max-width: 990px) and (min-height: 1000px) and (max-height: 1030px)  {
    .aboutPage {
        top: 2050px;
    }
    .aboutPage p {
        font-size: 14px;
    }
}

/* IPAD PRO */
@media (min-width: 1000px) and (max-width: 1100px) and (min-height: 1350px) and (max-height: 1400px) {
    .aboutPage {
        top: 2550px;
    }
    .aboutPage p {
        font-size: 22px;
    }
  
  }

@media (min-width: 501px) {
    .aboutPage .trainer img {
        width: 40% !important; 
        height: auto !important;
    }
}