@font-face {
    font-family: 'gfitfont';
    font-style: normal;
    font-weight: bolder;
    src: local('gfitfont'), url('./fonts/gfitfont.ttf'), url('./fonts/gfitfont.woff'), format('truetype');
  }
@font-face {
    font-family: 'gfitfont-bold';
    font-style: normal;
    font-weight: bolder;
    src: local('gfitfontBold'), url('./fonts/gfitfontBold.ttf'), url('./fonts/gfitfontBold.woff') format('truetype');
  }

#loginPage {
    width: 80%;
    margin: 0 auto;
    margin-top: 10%;
    /* margin-bottom: 80%; */
    padding: 5%;
    text-align: center;
    background-color: white;
    font-family: 'gfitfontbold';
    margin-bottom: calc(100vh - 510px);
}

#adminPage {
    margin: 0 auto;
    margin-top: 10%;
    margin-bottom: 20%;
    color: white;
    text-align: center;
}

#adminPage hr {
    border: solid 2px white;
    width: 80%;
    margin-top: 5% !important;
    margin-bottom: 5% !important;
}

#adminPage h1, h2 {
    color: #FAC04E
}

.formRow {
    width: 50%;
    margin-top: 5%;
    margin: 0 auto;
}

.formRow .formContainer {
    width: 100%;
}

.scheduleRow {
    margin: 0 auto;
    width: 100%;
}

.scheduleTable {
    width: 80%;
    text-align: center;
    color: #FAC04E;
    border-color: #FAC04E;
    margin: 0 auto;
    border-bottom: 2px solid #FAC04E !important;
    padding-bottom: 10%;
}

.scheduleTable .rt-td {
    white-space: pre-wrap !important;
    color: white;
}

.scheduleHeaders {
    font-size: 24px;
    color: #FAC04E
}

#logoutPage {
    color: white;
    text-align: center;
    margin-top: 10%;
}

#logoutPage a {
    color: #FAC04E
}

@media (max-width: 900px) {
    #adminPage {
        margin-top: 30%;
    }
    #loginPage {
        margin-top: 30%;
    }
}