@font-face {
  font-family: 'gfitfont';
  font-style: normal;
  font-weight: normal;
  src: local('gfitfont'), url('./gfitfont.ttf'), url('./gfitfont.woff') format('truetype');
}

.welcomePage {
  /* width: 60%; */
  min-width: 100%;
  margin-top: 7% !important;
  margin: 0 auto !important;
  /* margin-left: 20%; */
}

.Landing {
  z-index: 2;
  opacity: 1;
  background-color: white !important;
  /* background-image: url('./images/gfitinsta/gfitwefitbanner.jpg'); */
  /* background-color: black; */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  /* margin-bottom: 100px; */
  text-align: center;
  border-radius: 2%;
  border: solid 4px #B1864F;
}

.Landing-logo {
  height: 55vmin;
  pointer-events: none;
  align-content: center;
  justify-content: center;
}

.Landing-header {
  /* margin-top: 0 !important; */
  font-family: 'gfitfont';
  font-style: normal;
  font-weight: 300;
  height: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(12px + 2vmin);
  color: black;
  text-shadow: 2px 1px #B1864F;
  /* font-weight: bolder !important; */
}

.landing-link {
  font-family: 'gfitfont';
  font-style: normal;
  font-weight: 300;
  font-weight: bolder !important;
  padding: 10px;
  color: black;
}
.landing-link:hover {
  color: #B1864F !important;
  background-color: transparent !important;
  cursor: pointer;
  text-shadow: 2px 2px black;
}

/* @keyframes Landing-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

/* IPHONE 5 */
@media (max-width: 321px) {
  .welcomePage {
    margin-top: 20% !important;
    width: 100%;
  }
  .Landing-logo {
    height: 40% !important;
  }
  .Landing-header {
    height: 100px !important;
  }

  .Landing-header h1 {
    margin-bottom: -10px;
    font-size: calc(10px + 2vmin) !important;
  }
  .landing-link {
    font-size: calc(8px + 2vmin) !important;
  }
}

/* IPHONE 6/7/8 && GALAXY S5 */
@media (min-width: 320px) and (max-width: 500px) {
  .welcomePage {
    margin-top: 25% !important;
    width: 100%;
  }
  .Landing-logo {
    height: 50%;
  }
  .Landing-header {
    text-shadow: 1px 1px #B1864F;
  }
  .landing-link:hover {
    text-shadow: 1px 1px black;
  }

  .Landing-header h1 {
    font-size: calc(15px + 2vmin) !important;
  }
  .landing-link {
    font-size: calc(10px + 2vmin) !important;
  }
  
}

/* IPHONE 5 */
@media (max-width: 319px){
  .welcomePage {
    margin-top: 25% !important;
    width: 100%;
  }
  .Landing-logo {
    height: 50%;
  }
  .Landing-header {
    text-shadow: 1px 1px #B1864F;
  }
  .landing-link:hover {
    text-shadow: 1px 1px black;
  }

  .Landing-header h1 {
    font-size: calc(15px + 2vmin) !important;
  }
  .landing-link {
    font-size: calc(10px + 2vmin) !important;
  }
}

/* IPHONE 6/7/8 PLUS && PIXEL 2 && PIXEL 2 XL */
@media (max-width: 500px) and (min-height: 730px) {
  .welcomePage {
    margin-top: 25% !important;
    width: 100%;
  }
  .Landing-logo {
    height: 50%;
  }

  .Landing-header h1 {
    font-size: calc(15px + 2vmin) !important;
  }
  .Landing-header {
    text-shadow: 1px 1px #B1864F;
  }
  .landing-link:hover {
    text-shadow: 1px 1px black;
  }
  .landing-link {
    font-size: calc(10px + 2vmin) !important;
  }
}

/* IPHONE X */
@media (max-width: 400px) and (min-height: 730px) {
  .welcomePage {
    margin-top: 25% !important;
    width: 100%;
  }
  .Landing-logo {
    height: 50%;
  }
  .Landing-header {
    text-shadow: 1px 1px #B1864F;
  }
  .landing-link:hover {
    text-shadow: 1px 1px black;
  }

  .Landing-header h1 {
    font-size: calc(15px + 2vmin) !important;
  }
  .landing-link {
    font-size: calc(10px + 2vmin) !important;
  }
}

/* IPAD && IPAD PRO */
@media (min-width: 700px) and (min-height: 1000px) {
  .welcomePage {
    margin-top: 25% !important;
    width: 100%;
  }
  .Landing-logo {
    height: 50%;
  }
  .Landing-header {
    text-shadow: 1px 1px #B1864F;
  }
  .landing-link:hover {
    text-shadow: 1px 1px black;
  }

  .Landing-header h1 {
    font-size: calc(15px + 2vmin) !important;
  }
  .landing-link {
    font-size: calc(10px + 2vmin) !important;
  }

}

/* IPAD */
@media (min-width: 600px) and (max-width: 990px) and (min-height: 1000px) and (max-height: 1030px) {
  .welcomePage {
    margin-top: 15% !important;
    width: 100%;
  }
  .Landing-logo {
    height: 50%;
  }
  .Landing-header {
    text-shadow: 1px 1px #B1864F;
  }
  .landing-link:hover {
    text-shadow: 1px 1px black;
  }

  .Landing-header h1 {
    font-size: calc(15px + 2vmin) !important;
  }
  .landing-link {
    font-size: calc(10px + 2vmin) !important;
  }
}

/* IPAD PRO */
@media (min-width: 1000px) and (max-width: 1100px) and (min-height: 1350px) and (max-height: 1400px) {
  .welcomePage {
    margin-top: 15% !important;
    width: 100%;
  }
  .Landing-logo {
    height: 50%;
  }
  .Landing-header {
    text-shadow: 1px 1px #B1864F;
  }
  .landing-link:hover {
    text-shadow: 1px 1px black;
  }
  .Landing-header h1 {
    font-size: calc(15px + 2vmin) !important;
  }
  .landing-link {
    font-size: calc(10px + 2vmin) !important;
  }
}

@media (min-width: 501px) {
  .welcomePage {
    margin-top: 10% !important;
    width: 100%;
  }
  .Landing-logo {
    height: 50%;
  }

  .Landing-header h1 {
    font-size: calc(20px + 2vmin) !important;
  }
  .landing-link {
    font-size: calc(15px + 2vmin) !important;
  }
}

