
    /* NAVBAR */
    @font-face {
      font-family: 'gfitfont';
      font-style: normal;
      font-weight: bolder;
      src: local('gfitfont'), url('./fonts/gfitfont.ttf'), url('./fonts/gfitfont.woff'), format('truetype');
    }
    @font-face {
        font-family: 'gfitfont-bold';
        font-style: normal;
        font-weight: bolder;
        src: local('gfitfontBold'), url('./fonts/gfitfontBold.ttf'), url('./fonts/gfitfontBold.woff') format('truetype');
      }

    .masterRow {
        height: 50px !important;
        max-width: 100% !important;
        margin: 0 auto;
    }

    .navbar {
        /* font-family: 'gfitfont-bold'; */
        font-weight: 900;
        position: fixed;
        margin-bottom: 0;
        background-color: #FAC04E;
        top: 0;
        transition: top 0.6s;
        height: calc(100% - 90%) !important;
    }

    /* .navbar--hidden {
        top: -75px;
      } */
    
    .Navbar-logo {
        height: 10%;
    }  

    .navbar-brand {
        height: 70px !important;
        position: relative !important;
        left: 15px !important;
        top: 1px !important;
        /* font-family: 'gfitfont-bold'; */
        font-weight: 800;
        color: #000000 !important;
    }
    .navbar-brand:hover {
        background-color: transparent !important;
        color: white !important;
        cursor: pointer !important;
      }
    .navbar-toggler {
        position: absolute;
        right: 0;
        background-color: #FAC04E !important;
    }
    .navbar-toggler-icon {
        color: #000000 !important;
    }
    .nav-item {
        padding-bottom: 10px;
        color: #000000;
        padding-left: 0 !important;
        padding-right: 0 !important;
        letter-spacing: 2px;
    }
    .nav-item:hover {
        text-shadow: 2px 2px #FAC04E;
        background-color: transparent !important;
        color: #000000 !important;
        cursor: pointer !important;
    }
    
    .nav-link {
        font-family: 'gfitfont-bold';
        font-weight: 900;
        font-size: 1.7vw;
        text-align: center !important;
        color: #101010 !important;
    }
    .nav-link:hover {
        text-shadow: 2px 2px white;
        background-color: transparent !important;
        color: #101010 !important;
    }
    .pages {
        position: absolute;
        right: 3%;
    }
    .iconBar {
        color: #FAC04E !important;
        background-color: transparent !important;
    }

    .signUp {
        background-color: #211C18 !important;
        padding: 5%;
        color: #FAC04E !important;
        border-radius: 5%;
    }
    .signUp:hover {
        color: #FAC04E !important;
        text-shadow: 1px 1px white;
        background-color: #211C18 !important;
    }
    
/* BURGER MENU */
    .burgerMenu {
        height: 100% !important;
        top: 5px;
        background-color: #FAC04E;
        padding-top: 15%;
        width: 100%;
    }
    .navbarTogglerButtonCustom {
        top: 10px !important;
    }
    .bm-item {
        font-size: 3vw !important;
        font-weight: bolder !important;
        color: white !important;
    }

@media only screen 
    and (min-device-width: 420px) 
    and (max-device-width: 480px) {
      .burgerMenu {
        right: 50px;
    }
  }


/* ----------- iPhone 4 and 4S ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

}

/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    .navbar {
        height: 12%;
    }
    .Navbar-logo {
        height: 50px !important;
    }  
    .burgerMenu {
        height: 125% !important;
        width: 70% !important;
    }
    .bm-item {
        font-size: 8vw !important;
    }
    .signUp {
        padding-right: 0;
        padding-left: 0;
    }
}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 

}

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 

}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 

}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 

}

/* Portrait */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 

}

/* Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 

}

/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 

}

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 
    .navbar {
        height: 8%;
    }
    .Navbar-logo {
        height: 50px !important;
    }  
    .burgerMenu {
        height: 125% !important;
        width: 70% !important;
    }
    .bm-item {
        font-size: 8vw !important;
    }
    .signUp {
        padding-right: 0;
        padding-left: 0;
    }
}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 

}


/* ----------- LAPTOPS ----------- */


/* ----------- Non-Retina Screens ----------- */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
    
}

@media screen 
  and (min-device-width: 1600px) 
  and (max-device-width: 2000px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
    
}

@media screen 
  and (min-device-width: 2001px) 
  and (max-device-width: 3000px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
    .navbar {
      height: 15% !important;
    }
    .Navbar-logo {
        height: 125px !important;
    }  
    
}

@media screen 
  and (min-device-width: 2001px) 
  and (max-device-width: 2100px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
    
    
}
@media screen 
  and (min-device-width: 2101px) 
  and (max-device-width: 2200px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
   
    
}
@media screen 
  and (min-device-width: 2201px) 
  and (max-device-width: 2300px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
   
}
@media screen 
  and (min-device-width: 2301px) 
  and (max-device-width: 2400px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
    
}
@media screen 
  and (min-device-width: 2401px) 
  and (max-device-width: 2500px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
    
    
}
@media screen 
  and (min-device-width: 2501px) 
  and (max-device-width: 2600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 

}
@media screen 
  and (min-device-width: 2601px) 
  and (max-device-width: 2700px) 
  and (-webkit-min-device-pixel-ratio: 1) {

    
}
@media screen 
  and (min-device-width: 2701px) 
  and (max-device-width: 2800px) 
  and (-webkit-min-device-pixel-ratio: 1) { 

    
}
@media screen 
  and (min-device-width: 2801px) 
  and (max-device-width: 2900px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
 
    
}
@media screen 
  and (min-device-width: 2901px) 
  and (max-device-width: 3000px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
    
}

/* ----------- Retina Screens ----------- */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) { 
    
}

@media screen 
  and (min-device-width: 1600px) 
  and (max-device-width: 2000px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) { 
    
}
@media screen 
  and (min-device-width: 2001px) 
  and (max-device-width: 3000px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) { 
    
}

@media screen 
  and (min-device-width: 2001px) 
  and (max-device-width: 2100px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) { 
    
    
}
@media screen 
  and (min-device-width: 2101px) 
  and (max-device-width: 2200px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) { 
   
    
}
@media screen 
  and (min-device-width: 2201px) 
  and (max-device-width: 2300px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) { 
   
}
@media screen 
  and (min-device-width: 2301px) 
  and (max-device-width: 2400px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) { 
    
}
@media screen 
  and (min-device-width: 2401px) 
  and (max-device-width: 2500px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) { 
    
    
}
@media screen 
  and (min-device-width: 2501px) 
  and (max-device-width: 2600px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) { 

}
@media screen 
  and (min-device-width: 2601px) 
  and (max-device-width: 2700px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) {

    
}
@media screen 
  and (min-device-width: 2701px) 
  and (max-device-width: 2800px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) { 

    
}
@media screen 
  and (min-device-width: 2801px) 
  and (max-device-width: 2900px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) { 
 
    
}
@media screen 
  and (min-device-width: 2901px) 
  and (max-device-width: 3000px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) { 
    
}
