@font-face {
  font-family: 'gfitfont';
  font-style: normal;
  font-weight: normal;
  src: local('gfitfont'), url('./gfitfont.ttf'), url('./gfitfont.woff') format('truetype');
}

.tableWorkouts {
  background-image: url('../css/images/gfitinsta/gym2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: 'gfitfont';
    font-style: normal;
    font-weight: 300;
    text-align: center;
    font-size: 25px;
    padding: 30px;
    padding-top: 5px;
    /* margin-top: 15% !important; */
    margin: 0 auto;
    /* background-color: lightgrey; */
    color: white;
    position: absolute;
    left: 0;
    top: 2400px;
    max-width: 80%;
    margin-left: 10%;
    overflow: scroll;
    border-radius: 5%;
    border: solid 2px #B1864F;
}
.tableWorkouts th {
  color: #b1864f;
  background-color: black;
  opacity: 0.85;
  font-size: 35px;
  text-decoration: underline;
  /* color: #B1864F; */
}

/* IPHONE 5 */
@media (max-width: 321px) {
.tableWorkouts {
    font-size: 10px;
    top: 2100px;
    min-width: 100%;
    margin: 0 auto;
    overflow: scroll;
  }
.tableWorkouts th {
  color: #b1864f;
  background-color: black;
  opacity: 0.85;
  font-size: 15px;
  text-decoration: underline;
  /* color: #B1864F; */
  }
}

/* IPHONE 6/7/8 && GALAXY S5 */
@media (min-width: 322px) and (max-width: 500px) {
  .tableWorkouts {
      font-size: 10px;
      top: 2000px;
      min-width: 100%;
      margin: 0 auto;
      overflow: scroll;
  }
  .tableWorkouts th {
    color: #b1864f;
    background-color: black;
    opacity: 0.85;
    font-size: 15px;
    text-decoration: underline;
    /* color: #B1864F; */
  }
}

/* IPHONE 6/7/8 && GALAXY S5 */
@media (min-width: 322px) and (max-width: 500px) and (max-height: 700px) {
  .tableWorkouts {
    top: 2000px;
  }
}

/* IPHONE 6/7/8 PLUS && PIXEL 2 */
@media (min-width: 320px) and (max-width: 500px) and (min-height: 701px) and (max-height: 800px) {
  .tableWorkouts {
    top: 2150px;
  }
}
/* IPHONE X && PIXEL 2 XL */
@media (min-width: 320px) and (max-width: 500px) and (min-height: 801px) and  (max-height: 900px) {
  .tableWorkouts {
    top: 2400px;
  }
}

/* IPAD */
@media (min-width: 600px) and (max-width: 990px) and (min-height: 1000px) and (max-height: 1030px)  {
  .tableWorkouts {
    top: 3400px;
  }
  .tableWorkouts tr {
    font-size: 20px !important;
  }
}

/* IPAD PRO */
@media (min-width: 1000px) and (max-width: 1300px) and (min-height: 1350px) and (max-height: 1400px) {
  .tableWorkouts {
    top: 3900px;
  }
  .tableWorkouts tr {
    font-size: 28px !important;
  }
}

@media (min-width: 501px) {
  .tableWorkouts {
    top: 2400px;
    width: 80%;
    margin-left: 10%;
  }
  .tableWorkouts tr {
    font-size: 28px !important;
  }
}