@font-face {
  font-family: 'gfitfont';
  font-style: normal;
  font-weight: bolder;
  src: local('gfitfont'), url('./fonts/gfitfont.ttf'), url('./fonts/gfitfont.woff'), format('truetype');
}
@font-face {
    font-family: 'gfitfont-bold';
    font-style: normal;
    font-weight: bolder;
    src: local('gfitfontBold'), url('./fonts/gfitfontBold.ttf'), url('./fonts/gfitfontBold.woff') format('truetype');
  }

.trainerInfo {
    font-family: 'gfitfont-bold', Times, serif;
    height: 675px;
    background-color: white;
}

.trainerBioCard {
    background-color: #FAC04E;
    margin-top: 2%;
    height: 100%;
}

/* .trainerBioCard .card-body {
    margin: 0 auto;
} */

.trainerInfoRow {
    height: 20%;
    width: 80%;
    margin: 0 auto;
}

.trainerInfoHeaderLeft {
    font-size: 1.8vw;
    font-weight: bolder;
    letter-spacing: 3px;
    color: #000000;
    margin-top: 10%;
}

.trainerInfoHeaderRight {
    font-size: 1.8vw;
    font-weight: bolder;
    letter-spacing: 3px;
    color: #FAC04E;
    margin-top: 10%;
}

.trainerBioRow {
    width: 90%;
    margin: 0 auto;
    margin-top: 5%;
    
}

.trainerBioImage {
    width: 90%;
    margin: 0 auto;
    margin-top: 5%;
}

.trainerBioTitle {
    color: #000000;
    font-weight: bolder;
}

.trainerBioSubtitle {
    color: #484543;
    margin-bottom: 5%;
    font-weight: bolder;
}

.btn-primary {
  background-color: #484543 !important;
  border-color: #484543 !important;
  color: white;
}

.btn-primary:hover {
    background-color: white !important;
    border-color: #484543 !important;
    color: #484543;
}

.trainerBioButton {
    background-color: #484543;
    border: 1px solid #484543;
    min-width: 40%;
    text-align: left;
    font-weight: bolder;
}

/* .trainerBioButton:hover {
    background-color: white;
    border: 1px solid #484543;
    width: 40%;
    text-align: left;
    color: #484543;
} */




/* ----------- iPhones ----------- */

/* ----------- iPhone 4 and 4S ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

}

/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    .trainerInfo {
        height: 100%;
        padding-bottom: 25%;
        padding-top: 15%;
    }

    .trainerBioCardColumn {
        margin-bottom: 5% !important;
    }
    
    .trainerBioCard {
        margin-top: 2%;
    }
    
    .trainerInfoRow {
        height: 20%;
        width: 80%;
        margin: 0 auto;
    }
    
    .trainerInfoHeaderLeft {
        font-size: 5vw;
        letter-spacing: 1px;
        margin-top: 10%;
    }
    
    .trainerInfoHeaderRight {
        font-size: 5vw;
        letter-spacing: 1px;
        margin-top: 10%;
    }
    
    .trainerBioRow {
        width: 90%;
        margin: 0 auto;
        margin-top: 5%;
        
    }
    
    .trainerBioImage {
        width: 90%;
        margin: 0 auto;
        margin-top: 5%;
    }
    
    .trainerBioSubtitle {
        margin-bottom: 5%;
    }
    
    .trainerBioButton {
        min-width: 40%;
        text-align: left;
        font-weight: bolder;
    }
    
    .trainerBioButton:hover {
        width: 40%;
        text-align: left;
    }
}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
    .trainerInfo {
      height: 100%;
      width: 262vw !important;
      padding-bottom: 25%;
      padding-top: 15%;
    }

    .trainerBioCardColumn {
        margin-bottom: 5% !important;
    }
    
    .trainerBioCard {
        margin-top: 2%;
        width: 80%;
        margin: 0 auto;
    }

    .trainerBioTitle {
      font-size: 10vw;
    }

    .trainerBioSubtitle {
      font-size: 8vw;
      margin-bottom: 5%;
    }
    
    .trainerInfoRow {
        height: 20%;
        width: 80%;
        margin: 0 auto;
    }
    
    .trainerInfoHeaderLeft {
        font-size: 12vw;
        letter-spacing: 1px;
        margin-top: 10%;
    }
    
    .trainerInfoHeaderRight {
        font-size: 12vw;
        letter-spacing: 1px;
        margin-top: 10%;
    }
    
    .trainerBioRow {
        width: 90%;
        margin: 0 auto;
        margin-top: 5%;
        
    }
    
    .trainerBioImage {
        width: 90%;
        margin: 0 auto;
        margin-top: 5%;
    }
    
    .trainerBioButton {
        min-width: 40%;
        text-align: left;
        font-weight: bolder;
        font-size: 8vw;
    }
    
    .trainerBioButton:hover {
        width: 40%;
        text-align: left;
    }
}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 

}

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 

}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 
    .trainerInfo {
      height: 100%;
      width: 223vw !important;
      padding-bottom: 25%;
      padding-top: 15%;
    }

    .trainerBioCardColumn {
        margin-bottom: 5% !important;
    }
    
    .trainerBioCard {
        margin-top: 2%;
        width: 100%;
        margin: 0 auto;
    }

    .trainerBioTitle {
      font-size: 3.5vw;
    }

    .trainerBioSubtitle {
      font-size: 3vw;
      margin-bottom: 5%;
    }
    
    .trainerInfoRow {
        height: 20%;
        width: 80%;
        margin: 0 auto;
    }
    
    .trainerInfoHeaderLeft {
        font-size: 6vw;
        letter-spacing: 1px;
        margin-top: 10%;
    }
    
    .trainerInfoHeaderRight {
        font-size: 6vw;
        letter-spacing: 1px;
        margin-top: 10%;
    }
    
    .trainerBioRow {
        width: 90%;
        margin: 0 auto;
        margin-top: 5%;
        
    }
    
    .trainerBioImage {
        width: 90%;
        margin: 0 auto;
        margin-top: 5%;
    }
    
    .trainerBioButton {
        min-width: 40%;
        text-align: left;
        font-weight: bolder;
        font-size: 3vw;
    }
    
    .trainerBioButton:hover {
        width: 40%;
        text-align: left;
    }
}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 

}

/* Portrait */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 

}

/* Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 

}

/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 

}

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 
    .trainerInfo {
        height: 100%;
        padding-bottom: 25%;

    }

    .trainerBioCardColumn {
        margin-bottom: 5%;
    }
    
    .trainerBioCard {
        margin-top: 2%;
    }
    
    .trainerInfoRow {
        height: 20%;
        width: 80%;
        margin: 0 auto;
    }
    
    .trainerInfoHeaderLeft {
        font-size: 5vw;
        letter-spacing: 1px;
        margin-top: 10%;
    }
    
    .trainerInfoHeaderRight {
        font-size: 5vw;
        letter-spacing: 1px;
        margin-top: 10%;
    }
    
    .trainerBioRow {
        width: 90%;
        margin: 0 auto;
        margin-top: 5%;
        
    }
    
    .trainerBioImage {
        width: 90%;
        margin: 0 auto;
        margin-top: 5%;
    }
    
    .trainerBioSubtitle {
        margin-bottom: 5%;
    }
    
    .trainerBioButton {
        min-width: 40%;
        text-align: left;
        font-weight: bolder;
    }
    
    .trainerBioButton:hover {
        width: 40%;
        text-align: left;
    }
    
}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 
    .trainerInfo {
      height: 100%;
      width: 103vw !important;
      padding-bottom: 5%;
      padding-top: 1%;
    }
    .trainerBioTitle {
      font-size: 2vw;
    }

    .trainerBioSubtitle {
      font-size: 1.5vw;
      margin-bottom: 5%;
      white-space: nowrap;
    }
    
    .trainerInfoRow {
        height: 20%;
        width: 80%;
        margin: 0 auto;
    }
    
    .trainerInfoHeaderLeft {
        font-size: 3vw;
        letter-spacing: 1px;
        margin-top: 10%;
    }
    
    .trainerInfoHeaderRight {
        font-size: 3vw;
        letter-spacing: 1px;
        margin-top: 10%;
    }
    .trainerBioButton {
      font-size: 1.5vw;
    }
  
}



/* ----------- iPads ----------- */

/* ----------- iPad 1, 2, Mini and Air ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {

}

/* Portrait */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1) {
    
}

/* Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1) {

}

/* ----------- iPad 3, 4 and Pro 9.7" ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 2) {
    .trainerInfo {
        height: 100%;
        padding-bottom: 25%;

    }

    .trainerBioCardColumn {
        margin-bottom: 5%;
    }
    
    .trainerBioCard {
        margin-top: 2%;
    }
    
    .trainerInfoRow {
        height: 20%;
        width: 80%;
        margin: 0 auto;
    }
    
    .trainerInfoHeaderLeft {
        font-size: 4vw;
        letter-spacing: 1px;
        margin-top: 10%;
    }
    
    .trainerInfoHeaderRight {
        font-size: 4vw;
        letter-spacing: 1px;
        margin-top: 10%;
    }
    
    .trainerBioRow {
        width: 90%;
        margin: 0 auto;
        margin-top: 5%;
        
    }
    
    .trainerBioImage {
        width: 90%;
        margin: 0 auto;
        margin-top: 5%;
    }
    
    .trainerBioSubtitle {
        margin-bottom: 5%;

    }
    
    .trainerBioButton {
        min-width: 40%;
        text-align: left;
        font-weight: bolder;
    }
    
    .trainerBioButton:hover {
        width: 40%;
        text-align: left;
    }
    
}

/* Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* ----------- iPad Pro 10.5" ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 834px) 
  and (max-device-width: 1112px)
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen 
  and (min-device-width: 834px) 
  and (max-device-width: 834px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Landscape */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen 
  and (min-device-width: 1112px) 
  and (max-device-width: 1112px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* ----------- iPad Pro 12.9" ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1366px)
  and (-webkit-min-device-pixel-ratio: 2) {
    
}

/* Portrait */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 2) {
    
}

/* Landscape */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen 
  and (min-device-width: 1366px) 
  and (max-device-width: 1366px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 2) {

}




/* ----------- LAPTOPS ----------- */


/* ----------- Non-Retina Screens ----------- */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
    .trainerInfo {
      height: 100%;
      padding-bottom: 25%;
    }

    .trainerBioCardColumn {
        margin-bottom: 5%;
    }
    
    .trainerBioCard {
        margin-top: 2%;
    }
    
    .trainerInfoRow {
        height: 20%;
        width: 80%;
        margin: 0 auto;
    }
    
    .trainerInfoHeaderLeft {
        font-size: 3vw;
        letter-spacing: 0.5px;
        margin-top: 10%;
    }
    
    .trainerInfoHeaderRight {
        font-size: 3vw;
        letter-spacing: 0.5px;
        margin-top: 10%;
    }
    
    .trainerBioRow {
        width: 90%;
        margin: 0 auto;
        margin-top: 5%;
        
    }
    
    .trainerBioImage {
        width: 90%;
        margin: 0 auto;
        margin-top: 5%;
    }
    
    .trainerBioSubtitle {
        margin-bottom: 5%;
    }
    
    .trainerBioButton {
        min-width: 40%;
        text-align: left;
        font-weight: bolder;
    }
    
    .trainerBioButton:hover {
        width: 40%;
        text-align: left;
    }
}

@media screen 
  and (min-device-width: 1600px) 
  and (max-device-width: 2000px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
    .trainerInfo {
      height: 1200px !important;
      padding-bottom: 25%;
    }

    .trainerBioCardColumn {
        margin-bottom: 5%;
    }
    
    .trainerBioCard {
        margin-top: 2%;
    }
    
    .trainerInfoRow {
        height: 20%;
        width: 80%;
        margin: 0 auto;
    }
    
    .trainerInfoHeaderLeft {
        font-size: 3.5vw;
        letter-spacing: 0.5px;
        margin-top: 10%;
    }
    
    .trainerInfoHeaderRight {
        font-size: 3.5vw;
        letter-spacing: 0.5px;
        margin-top: 10%;
    }
    
    .trainerBioRow {
        width: 90%;
        margin: 0 auto;
        margin-top: 15%;
        
    }
    
    .trainerBioImage {
        width: 90%;
        margin: 0 auto;
        margin-top: 5%;
    }
    
    .trainerBioTitle {
      font-size: 2vw;
    }
    .trainerBioSubtitle {
        font-size: 1.5vw;
        margin-bottom: 5%;
    }
    
    .trainerBioButton {
      font-size: 1.5vw;
        min-width: 40%;
        text-align: left;
        font-weight: bolder;
    }
    
    .trainerBioButton:hover {
        width: 40%;
        text-align: left;
    }
}
@media screen 
  and (min-device-width: 2001px) 
  and (max-device-width: 3000px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
    .trainerInfo {
      height: 1400px !important;
      padding-bottom: 25%;
    }
    .trainerBioCardColumn {
      margin-bottom: 5%;
    }
    
    .trainerBioCard {
        margin-top: 2%;
    }
    
    .trainerInfoRow {
        height: 20%;
        width: 80%;
        margin: 0 auto;
    }
    
    .trainerInfoHeaderLeft {
        font-size: 3.5vw;
        letter-spacing: 0.5px;
        margin-top: 10%;
    }
    
    .trainerInfoHeaderRight {
        font-size: 3.5vw;
        letter-spacing: 0.5px;
        margin-top: 10%;
    }
    
    .trainerBioRow {
        width: 90%;
        margin: 0 auto;
        margin-top: 15%;
        
    }
    
    .trainerBioImage {
        width: 90%;
        margin: 0 auto;
        margin-top: 5%;
    }
    
    .trainerBioTitle {
      font-size: 2vw;
    }
    .trainerBioSubtitle {
        font-size: 1.5vw;
        margin-bottom: 5%;
    }
    
    .trainerBioButton {
      font-size: 1.5vw;
        min-width: 40%;
        text-align: left;
        font-weight: bolder;
    }
    
    .trainerBioButton:hover {
        width: 40%;
        text-align: left;
    }

}

@media screen 
  and (min-device-width: 2001px) 
  and (max-device-width: 2100px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
    
    
}
@media screen 
  and (min-device-width: 2101px) 
  and (max-device-width: 2200px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
   
    
}
@media screen 
  and (min-device-width: 2201px) 
  and (max-device-width: 2300px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
   
}
@media screen 
  and (min-device-width: 2301px) 
  and (max-device-width: 2400px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
    
}
@media screen 
  and (min-device-width: 2401px) 
  and (max-device-width: 2500px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
    
    
}
@media screen 
  and (min-device-width: 2501px) 
  and (max-device-width: 2600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
    .trainerInfo {
      height: 1600px !important;
    }

}
@media screen 
  and (min-device-width: 2601px) 
  and (max-device-width: 2700px) 
  and (-webkit-min-device-pixel-ratio: 1) {
    .trainerInfo {
      height: 1600px !important;
    }
    
}
@media screen 
  and (min-device-width: 2701px) 
  and (max-device-width: 2800px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
    .trainerInfo {
      height: 1600px !important;
    }
    
}
@media screen 
  and (min-device-width: 2801px) 
  and (max-device-width: 2900px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
    .trainerInfo {
      height: 1800px !important;
    }
    
}
@media screen 
  and (min-device-width: 2901px) 
  and (max-device-width: 3000px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
    .trainerInfo {
      height: 1800px !important;
    }
}

/* ----------- Retina Screens ----------- */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) { 
    .trainerInfo {
      height: 100%;
      padding-bottom: 25%;
    }

    .trainerBioCardColumn {
        margin-bottom: 5%;
    }
    
    .trainerBioCard {
        margin-top: 2%;
    }
    
    .trainerInfoRow {
        height: 20%;
        width: 80%;
        margin: 0 auto;
    }
    
    .trainerInfoHeaderLeft {
        font-size: 3vw;
        letter-spacing: 0.5px;
        margin-top: 10%;
    }
    
    .trainerInfoHeaderRight {
        font-size: 3vw;
        letter-spacing: 0.5px;
        margin-top: 10%;
    }
    
    .trainerBioRow {
        width: 90%;
        margin: 0 auto;
        margin-top: 5%;
        
    }
    
    .trainerBioImage {
        width: 90%;
        margin: 0 auto;
        margin-top: 5%;
    }
    
    .trainerBioSubtitle {
        margin-bottom: 5%;
    }
    
    .trainerBioButton {
        min-width: 40%;
        text-align: left;
        font-weight: bolder;
    }
    
    .trainerBioButton:hover {
        width: 40%;
        text-align: left;
    }
}

@media screen 
  and (min-device-width: 1600px) 
  and (max-device-width: 2000px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) { 
    .trainerInfo {
      height: 1200px !important;
      padding-bottom: 25%;
    }

    .trainerBioCardColumn {
        margin-bottom: 5%;
    }
    
    .trainerBioCard {
        margin-top: 2%;
    }
    
    .trainerInfoRow {
        height: 20%;
        width: 80%;
        margin: 0 auto;
    }
    
    .trainerInfoHeaderLeft {
        font-size: 3.5vw;
        letter-spacing: 0.5px;
        margin-top: 10%;
    }
    
    .trainerInfoHeaderRight {
        font-size: 3.5vw;
        letter-spacing: 0.5px;
        margin-top: 10%;
    }
    
    .trainerBioRow {
        width: 90%;
        margin: 0 auto;
        margin-top: 15%;
        
    }
    
    .trainerBioImage {
        width: 90%;
        margin: 0 auto;
        margin-top: 5%;
    }
    
    .trainerBioTitle {
      font-size: 2vw;
    }
    .trainerBioSubtitle {
        font-size: 1.5vw;
        margin-bottom: 5%;
    }
    
    .trainerBioButton {
      font-size: 1.5vw;
        min-width: 40%;
        text-align: left;
        font-weight: bolder;
    }
    
    .trainerBioButton:hover {
        width: 40%;
        text-align: left;
    }
}

@media screen 
  and (min-device-width: 2001px) 
  and (max-device-width: 3000px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) { 
    .trainerInfo {
      height: 1400px !important;
      padding-bottom: 25%;
    }
    .trainerBioCardColumn {
      margin-bottom: 5%;
    }
    
    .trainerBioCard {
        margin-top: 2%;
    }
    
    .trainerInfoRow {
        height: 20%;
        width: 80%;
        margin: 0 auto;
    }
    
    .trainerInfoHeaderLeft {
        font-size: 3.5vw;
        letter-spacing: 0.5px;
        margin-top: 10%;
    }
    
    .trainerInfoHeaderRight {
        font-size: 3.5vw;
        letter-spacing: 0.5px;
        margin-top: 10%;
    }
    
    .trainerBioRow {
        width: 90%;
        margin: 0 auto;
        margin-top: 15%;
        
    }
    
    .trainerBioImage {
        width: 90%;
        margin: 0 auto;
        margin-top: 5%;
    }
    
    .trainerBioTitle {
      font-size: 2vw;
    }
    .trainerBioSubtitle {
        font-size: 1.5vw;
        margin-bottom: 5%;
    }
    
    .trainerBioButton {
      font-size: 1.5vw;
        min-width: 40%;
        text-align: left;
        font-weight: bolder;
    }
    
    .trainerBioButton:hover {
        width: 40%;
        text-align: left;
    }

}

@media screen 
  and (min-device-width: 2001px) 
  and (max-device-width: 2100px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) { 
    
    
}
@media screen 
  and (min-device-width: 2101px) 
  and (max-device-width: 2200px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) { 
   
    
}
@media screen 
  and (min-device-width: 2201px) 
  and (max-device-width: 2300px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) { 
   
}
@media screen 
  and (min-device-width: 2301px) 
  and (max-device-width: 2400px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) { 
    
}
@media screen 
  and (min-device-width: 2401px) 
  and (max-device-width: 2500px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) { 
    
    
}
@media screen 
  and (min-device-width: 2501px) 
  and (max-device-width: 2600px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) { 
    .trainerInfo {
      height: 1600px !important;
    }

}
@media screen 
  and (min-device-width: 2601px) 
  and (max-device-width: 2700px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) {
    .trainerInfo {
      height: 1600px !important;
    }
    
}
@media screen 
  and (min-device-width: 2701px) 
  and (max-device-width: 2800px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) { 
    .trainerInfo {
      height: 1600px !important;
    }
    
}
@media screen 
  and (min-device-width: 2801px) 
  and (max-device-width: 2900px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) { 
    .trainerInfo {
      height: 1800px !important;
    }
    
}
@media screen 
  and (min-device-width: 2901px) 
  and (max-device-width: 3000px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) { 
    .trainerInfo {
      height: 1800px !important;
    }
}