.spacer {
    position: relative;
    top: 3500px;
    margin-top: 50%;
}

hr.spacerLine {
    border: 1px solid #211C18;
}

@media (min-width: 501px) {
    .spacer {
        top: 5350px;
    }
  }

/* IPHONE 6/7/8 && GALAXY S5 */
@media (min-width: 322px) and (max-width: 500px) {
    .spacer {
        top: 4250px;
    }
}

/* IPHONE 6/7/8 && GALAXY S5 */
@media (min-width: 320px) and (max-width: 500px) and (max-height: 700px) {
    .spacer {
        top: 4550px;
        padding-bottom: 10%;
    }
}

/* IPHONE 6/7/8 PLUS && PIXEL 2 */
@media (min-width: 320px) and (max-width: 500px) and (min-height: 701px) and (max-height: 800px) {
    .spacer {
        top: 4750px;
    }
}

/* IPHONE X && PIXEL 2 */
@media (min-width: 320px) and (max-width: 500px) and (min-height: 801px) and  (max-height: 900px) {
    .spacer {
        top: 4650px;
    }
}

/* IPAD */
@media (min-width: 600px) and (max-width: 990px) and (min-height: 1000px) and (max-height: 1030px)  {
    .spacer {
        top: 5351px;
    }
  }

/* IPAD PRO */
@media (min-width: 1000px) and (max-width: 1100px) and (min-height: 1350px) and (max-height: 1400px) {
    .spacer {
        top: 6150px;
    }
  }

/* IPHONE 5 */
@media (max-width: 321px) {
    .spacer {
        top: 4950px;
    }
  }
